@import "bootstrap";

.header-noticias{
    width: 100%;
    height: 321px;
    background-image: url("../../assets/preguntas/fondoNoticias.png") !important;
    background-position: 62% center;
    background-size: cover;
    margin-top: -80 !important;
    .container-title{
        @include make-container(28px);
        margin-top: 125px;
        position: absolute;
        h3{
            width: 319px;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 32px;
            line-height: 39px;
            color: #FFFFFF;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            text-align: start;
        }
    }
}

.body-noticias{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(169.66deg, rgba(38, 81, 156, 0.05) 0.01%, rgba(131, 178, 62, 0.05) 50%, rgba(214, 126, 27, 0.05) 100%);
    h3{
        margin-top: 56px;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #575757;
    }
}

@media (min-width: 768px){
    .header-noticias{
        .container-title{
            @include make-container(128px);
            h3{
                width: auto;
            }
        }
    }
}

@media (max-width: 412px) {
    .NoticiasContainer{
        .header-noticias{
            background-image: none !important;
            height: 14.9rem;
            .backNoticies{
                background-image: url("../../assets/preguntas/imgHeader_Noticias_Mobile.png");
                background-size: auto 80%;
                background-repeat: no-repeat;
                background-position: 45% top;
                height: 19rem;
                margin-top: -3.9rem;
                z-index: 1;
            }
            .container-title{
                position: absolute;
                top: 0;
                z-index: 2;
                h3{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 29px;
                    text-align: center;
                    color: #FFFFFF;
                    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
                    padding: 2.4rem;
                }
            }
            .shadowImg{
                background: transparent;
            }
        }
    }
    
}
@media (min-width: 1400px){
    .header-noticias{
        .container-title{
            h3{
                margin-left: 5.4rem;
            }
        }
    }
    .body-noticias{
        .widthNotices{
            width: 76%;
            margin-bottom: 4rem;
        }
    }
}