@import "bootstrap";

#floatingInput::placeholder{
  color: gray;
  font-size: 1rem;
  font-style: italic;
}

.modal-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
    }

    .modal-wrapper2 {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1050;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
        }

.modal-dialog-centered{
    justify-content: center;
    .modal-content{
        .modalCotizarCSS{
            z-index: 99999;
        }
        .modal-header{
            align-items: flex-start;
            flex-direction: column;
            padding: 29px;
            height: 282px;
            background-image: url("../../assets/cotizacion/cotizarPC.png") !important;
            background-position: center top;
            background-size: cover;
            p{
                margin: 170px 0px 2px 0px;
                padding: 0;
                font-family: Montserrat;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
                text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
                text-align: start;
            }
            h3{
                font-family: Montserrat;
                font-weight: bold;
                font-size: 24px;
                line-height: 26px;
                color: #FFFFFF;
                text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
                text-align: start;
            }
        }
        .modal-body{
            padding: 18px 30px 30px 30px;
            input:focus {
                border-color: none;
                box-shadow: none;
                outline: 0 none;
            }
            select:focus {
                border-color: none;
                box-shadow: none;
                outline: 0 none;
            }
            h3{
                font-family: Montserrat;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                color: #575757;
                text-align: start;
            }
            .btn{
                width: 168px;
                height: 32px;
                background: #D67E1B;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
                border-radius: 7px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 13px;
                line-height: 32px;
            }
            .comboInt {
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
                border-radius: 7px;
            }
            .divBtnCotizar{
                display: flex;
                justify-content: center;
            }
            .btnCotizar {
                background: #D67E1B;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
                border-radius: 7px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 13px;
                line-height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }
}

#error {
    color: red;
}

@media (max-width: 412px){
    #floatingInput::placeholder{
        color: gray;
        font-size: 0.9rem;
        font-style: italic;
    }
    .modal-dialog-centered{
        .modal-content{
            .modal-header{
                align-items: flex-start;
                flex-direction: column;
                padding: 29px;
                height: 282px;
                background-image: url("../../assets/cotizacion/cotizarMobile.png") !important;
                background-position: center top;
                background-size: 100% 100%;
            }
        }
    }
}