@import "bootstrap";

.header-nosotros{
    width: 100%;
    height: 218px;
    background-image: url("../../assets/nosotros/fondoNosotros.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: -80 !important;
    .container-title{
        @include make-container(28px);
        margin-top: 80px;
        position: absolute;
        h3{
            width: 319px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 36px !important;
            line-height: 44px !important;
            color: #FFFFFF;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
            text-align: start;
        }
    }
}

.body-nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(169.66deg, rgba(38, 81, 156, 0.05) 0.01%, rgba(131, 178, 62, 0.05) 50%, rgba(214, 126, 27, 0.05) 100%);
    .introUS {
        text-align: left;
        width: 80%;
        display: inline-block;
        h3{
            margin-top: 56px;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            text-align: left;
            color: #575757;
            
        }
        p{
            font-family: Roboto;
            font-size: 14px;
            line-height: 20px;
            text-align: left;
            color: #575757;
            margin-left: 0;
            width: 57%;
        }
    }
    h3{
        margin-top: 56px;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #575757;
    }
    p{
        margin: 8px 10px;
        font-family: Roboto;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #575757;
    }
    .carousel{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 25px 0px;
        background-image: url('../../assets/nosotros/fondoBurbujasNosotrosM.svg');
        background-position: center center;
        background-size: 100% 100%;
        .active{
            margin: 0;
            display: flex;
            justify-content: center;
        }
        .carousel-item{
            .card{
                width: 320px;
                height: 428px;
                border-radius: 7px;
                border: none;
                background: linear-gradient(169.66deg, rgba(38, 81, 156, 0.05) 0.01%, rgba(131, 178, 62, 0.05) 50%, rgba(214, 126, 27, 0.05) 100%);
                h3{
                    position: absolute;
                    margin: 0;
                    top: 20px;
                    left: 28px;
                    color: #FFFFFF;
                    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
                }
                .card-body{
                    background-color: white;
                    padding: 31px 27px;
                    border-width: 2px;
                    p{
                        margin: 0;
                        text-align: start;
                    }
                }
                .imgCard{
                    border-radius: 12px 12px 0px 0px;
                }
                .backTitle{
                    position: relative;
                    .backTitleContent{
                        position: absolute;
                        top: 0;
                        background: linear-gradient(180deg, rgba(87, 87, 87, 0.5) 0%, rgba(87, 87, 87, 0) 62.8%);
                        border-radius: 15px 15px 0 0;
                        color: #f1f1f1;
                        width: 100%;
                        padding: 20px;
                        height: 8rem;
                    }
                }
                #card1{
                    margin-top: -12px;
                    border: 2px solid transparent;
                    border-radius: 15px;
                    background-image: linear-gradient(white, white), 
                    linear-gradient(to top,rgba(198, 209, 8, 1),rgba(161, 197, 22, 1), rgba(131, 188, 33, 1), rgba(107, 180, 41, 1),rgba(90, 175, 47, 1),rgba(80, 172, 51, 1),rgba(77, 171, 52, 1),rgba(56, 150, 51, 1),rgba(3, 98, 47, 1),rgba(3, 98, 47, 1));
                    background-origin: border-box;
                    background-clip: padding-box, border-box;
                }
                #card2{
                    margin-top: -12px;
                    border: 2px solid transparent;
                    border-radius: 15px;
                    background-image: linear-gradient(white, white), 
                      linear-gradient(to top, #fbc500 1%,#f9bc02 10%,#f4a107 19%,#f4a107 19%,#f4a107 30%,#f18f0b 40%,#ef840d 49%,#ee800e 59%,#ed790f 70%,#ea6513 80%,#e54418 91%,#e54418 100%);
                    background-origin: border-box;
                    background-clip: padding-box, border-box;
                }
                #card3{
                    margin-top: -12px;
                    border: 2px solid transparent;
                    border-radius: 15px;
                    background-image: linear-gradient(white, white), 
                      linear-gradient(to top,rgba(60, 165, 221, 1),rgba(60, 165, 221, 1), rgba(48, 148, 208, 1), rgba(14, 101, 171, 1),rgba(1, 82, 156, 1),rgba(1, 82, 156, 1));
                    background-origin: border-box;
                    background-clip: padding-box, border-box;
                }
            }
        }
        .nosotros-indicators{
            margin-top: 16px;
            top: 444px;
            button{
                background-color: none !important;
                border: 1px solid #575757 !important;
                opacity: 1 !important;
                margin-left: 3px !important;
                margin-right: 3px !important;
            }
            .active{
                background-color: #575757 !important;
                border: none;
                width: 14px;
                height: 14px;
            }
        }
    }
    .valores{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 88.5rem;
        @include make-container(28px);
        h3{
            margin-top: 32px;
        }
        .items-valores{
            margin-top: -24px;
            .content{
                display: flex;
                align-items: end;
                margin-top: 47px;
                .imgOurValues{
                    display: flex;
                    justify-content: center;
                    width: 4rem;
                }
                .text{
                    margin-left: 24px;
                    h3{
                        margin-top: 0;
                        text-align: start;
                    }
                    p{
                        margin: 0;
                        text-align: start;
                    }
                }
            }
        }
        
    }
    .sepultura{
        background-image: url('../../assets/nosotros/fondoNuestraSepulturaM.svg');
        background-position: center center;
        background-size: cover;
        margin-top: 50px;
        height: 470px;
        h3{
            margin-top: 66px;
        }
        p{
            margin-top: 20px;
            span{
                text-decoration: underline;
            }
        }
    }
    .card-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        .card{
            margin-top: 60px;
            margin-bottom: 0px;
            border: none;
            background-color: transparent;
            align-items: center;
            img{
                max-width: 320px;
            }
            .card-body{
                padding: 0;
                h3{
                    margin-top: 5px;
                }
            }
        }
        .MuiDivider-root{
            margin-top: 60px;
            height: 1.5px !important;
            width: 70%;
            opacity: 1;
            background-image: linear-gradient(90deg, #FBC500 -1.8%, #F9BC02 1.15%, #F4A107 11.98%, #F18F0B 22.81%, #EF840D 33.63%, #EE800E 45.45%, #ED790F 57.26%, #EA6513 73.99%, #E54418 94.66%, #E54418 96.63%);
        }
    }
}
.trabaja {
    background-image: url('../../assets/nosotros/backgroundWorkWithUs.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    .my-card{
        background: #F2F7FF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        width: 33rem;
        margin: 3rem;
        .card-body{
            margin: 1rem 0.5rem;
            text-align: center;
            a {
                text-decoration: none;
                color: #5B7BB3;
            }
            h3{
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: #575757;
                margin-top: 0;
            }
            p{
                font-size: 14px;
                line-height: 20px;
                margin: 1rem 0;
            }
        }
    }
}

@media (min-width: 1400px){
    .header-nosotros{
        .container-title{
            h3{
                margin-left: 5.2rem;
            }
        }
    }
    .body-nosotros{
        .introUS{
            width: 71.5%;
        }
    }
}

@media (min-width: 1100px){
    .header-nosotros{
        height: 321px;
        .container-title{
            @include make-container(128px);
            margin-top: 158px;
            h3{
                width: auto;
                font-size: 36px;
                line-height: 44px;
            }
        }
    }
    .body-nosotros{
        .carousel{
            background-image: url('../../assets/nosotros/fondoBurbujasNosotros.svg');
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 4rem;
            .carousel-inner{
                display: flex;
                justify-content: center;
                max-width: 1075px;
                .carousel-item{
                    margin: 0;
                    min-width: 240px;
                    display: flex;
                    justify-content: center;
                    position: sticky;
                }
            }
            .nosotros-indicators{
                display: none;
            }
        }
        .valores{
            
            @include make-container(128px);
            .items-valores{
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                margin-top: 31px;
                .content{
                    flex-direction: column;
                    align-items: center;
                    margin: 0px 33px 0px 33px;
                    .imgOurValues{
                        height: 5rem;
                        display: flex;
                        justify-content: center;
                    }
                    .text{
                        margin: 0;
                        max-width: 235px;
                        h3{
                            margin-top: 18px;
                            text-align: center;
                        }
                        p{
                            margin-top: 12px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .sepultura{
            background-image: url('../../assets/nosotros/fondoNuestraSepultura.svg');
            background-position: center center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 38px;
            width: 100%;
            height: 378px;
            h3{
                margin-top: px;
            }
            p{
                margin-top: 15px;
                max-width: 688px;
            }
        }
        .card-group{
            flex-direction: row;
            align-items: flex-start;
            margin-top: 80px;
            .card{
                max-width: 316px;
                margin: 0px 19px;
                img{
                    max-width: 230px;
                    height: 168px;
                }
            }
            .MuiDivider-root{
                display: none;
            }
        }
    }
}

@media (max-width: 415px){
    .header-nosotros{
        background-image: url("../../assets/nosotros/fondoNosotrosM.png") !important;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        .container-title{
            h3{
                text-align: center;
                margin: 0;
            }
        }
        .shadowImg{
            background: transparent;
        }
    }
    .body-nosotros{
        .introUS{
            width: 81%;
            text-align: center;
            display: inline-block;
            h3{
                width: 100%;
                text-align: center;
            }
            p{
                width: 100%;
                text-align: center;
            }
        }
        .valores{
            margin-top: 3rem;
            .items-valores{
                .content{
                    .imgOurValues{
                        width: 9rem;
                    }
                    .text{
                        width: 90%;
                    }
                }
            }
        }
    }
    .trabaja{
        background-image: none;
        .my-card{
            .card-body{
                a{
                    color: #1400ff;
                    font-weight: normal;
                    font-style: normal;
                }
            }
        }
        
    }
    
}