@import "bootstrap";

#floatingInput::placeholder{
  color: gray;
  font-size: 1rem;
  font-style: italic;
}

.buttons{
    padding-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;

    .btn {
        padding-right: 12px;
        padding-left: 12px;
        color: #fff!important;
        border-color: #fff;
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 14px;
        border-radius: 7px;
        box-shadow: 0 2px 2pxrgba(0,0,0,.14);
    }
}

.modal-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
    }

    .modal-wrapper2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
                
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1050;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
        }

.modal-dialog-centered-main{
    justify-content: center;
    //width: 80%;

    .modal-content{
        background-color: white;// mediumseagreen;
        border: solid white 1px;
        //margin-top: 20%;
        width: auto;//600px;
        height: auto;
        // height: 82vh;
        //margin: auto auto;
        // margin-top: 9%;
        // margin-left: 12%;
        border-radius: 0 4px 4px 0 !important;//0 16px  !important;

        .modalCotizarCSS{
            z-index: 99999;
        }
        .modal-header{
            border-bottom: 0px solid #dee2e6;

            .modal-header-center{
                text-align: center;

                .lateralhomemodal{
                    position: absolute;
                    top:0;
                    left:0;
                    height:100%;//calc(75vh - 4px);
                    width:116px;
                }
            }

          .body-font{
            margin: 8px 0px 2px 0px;
            padding: 0;
            font-family: Montserrat;
            // font-size: 26px;
            font-size: 16px;
            font-weight: 400;
            // line-height: 36px;
            line-height: 24px;
            color: #000;// #FFFFFF;
            //text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
            text-align: justify; //center;
          }

            align-items: flex-start;
            flex-direction: column;
            padding: 29px;
            padding-left: calc(29px + 116px);
            //height: 282px;
            background-image: none !important;// url("../../assets/cotizacion/cotizarPC.png") !important;
            background-position: center top;
            background-size: cover;

            p{
                margin: 170px 0px 2px 0px;
                padding: 0;
                font-family: Montserrat;
                font-size: 16px;
                line-height: 20px;
                color: #000;//#FFFFFF;
                //text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
                text-align: start;
            }
            h1{
              font-family: Montserrat;
              font-weight: bold;
              font-size: 28px;
              line-height: 26px;
              color: #000;//#FFFFFF;
              //text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
              text-align: center;
          }

            h3{
                font-family: Montserrat;
                font-weight: bold;
                font-size: 24px;
                line-height: 26px;
                color: #FFFFFF;
                text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
                text-align: start;
            }
        }
        .modal-body{
            padding: 18px 30px 30px 30px;
            input:focus {
                border-color: none;
                box-shadow: none;
                outline: 0 none;
            }
            select:focus {
                border-color: none;
                box-shadow: none;
                outline: 0 none;
            }
            h3{
                font-family: Montserrat;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                color: #575757;
                text-align: start;
            }
            .btn{
                width: 168px;
                height: 32px;
                background: #D67E1B;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
                border-radius: 7px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 13px;
                line-height: 32px;
            }
            .comboInt {
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
                border-radius: 7px;
            }
            .divBtnCotizar{
                display: flex;
                justify-content: center;
            }
            .btnCotizar {
                background: #D67E1B;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
                border-radius: 7px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 13px;
                line-height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }
}

#error {
    color: red;
}

@media (max-width: 412px){
    #floatingInput::placeholder{
        color: gray;
        font-size: 0.9rem;
        font-style: italic;
    }
    .modal-dialog-centered-main{
        margin: auto auto;

        .modal-content{
          background-color: white;//mediumseagreen;
          border: solid white 1px;
          width: 95vw;
          height: 75vh;
          margin-left: auto;
          margin-top: 20%;
        //   height: 95vh;
            h1{
                font-size: 18px;
            }

            .modal-header{
                align-items: flex-start;
                flex-direction: column;
                padding: 29px;
                padding-left: calc(19px + 106px);
                height: 282px;
                background-image: none !important;//url("../../assets/cotizacion/cotizarMobile.png") !important;
                background-position: center top;
                background-size: 100% 100%;

                H1{
                    font-size: 1rem;
                }

                .modal-header-center{
                    .lateralhomemodal{
                        height:100%;//calc(74.8vh - 2px) !important;
                        width:106px;
                    }
                }
            }

            .body-font{
                margin: 8px 0px 2px 0px;
                padding: 0;
                font-family: Montserrat;
                font-size: 0.8rem !important;
                line-height: 20px !important;
            }
    
        }
    }
}

@media (max-width: 600px){
    .modal-content{
        height: 97vh;
        margin: 20px 0px 2px 0px;
        padding: 0;
        font-family: Montserrat;
        // font-size: 26px;
        font-size: 0.7rem;//13px;
        font-weight: 400;
        // line-height: 36px;
        line-height: 22px;
        color: #FFFFFF;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
        text-align: center;

        h1{
            font-size: 18px !important;
        }

        .body-font{
            margin: 8px 0px 2px 0px;
            padding: 0;
            font-family: Montserrat;
            font-size: 0.9rem !important;
            line-height: 22px !important;

        }
    }
}