@import "bootstrap";

.accordion-button::after{
    background-image: url("../../assets/preguntas/accordionTriangle.svg") !important;
    background-position: center center;
}
.accordion-item{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
    border-radius: 7px;
}
.txtFAQ{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.5px;
    color: #000000;
}
.titleFAQ{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 20px;
    color: #575757;
    margin: 2rem 2rem 0 2rem;
    display: flex;
    justify-content: center;
    p {
        width: 50%;
        text-align: center;
    }
}

.header-preguntas{
    width: 100%;
    height: 321px;
    background-image: url("../../assets/preguntas/fondoPreguntas.png") !important;
    background-position: center center;
    background-size: cover;
    margin-top: -80 !important;
    .container-title{
        @include make-container(28px);
        margin-top: 125px;
        position: absolute;
        h3{
            width: 319px;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 32px;
            line-height: 39px;
            color: #FFFFFF;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            text-align: start;
        }
    }
}

@media (min-width: 1400px){
    .header-preguntas{
        .container-title{
            h3{
                margin-left: 5.5rem;
            }
        }
    }
    .PreguntasContainer{
        .body-preguntas{
            .allQuestion{
                max-width: 72.5rem;
            }
        }
    }
    .form{
        .container{
            max-width: 70.5rem;
        }
    }
}

@media (min-width: 768px){
    .header-preguntas{
        .container-title{
            @include make-container(128px);
            h3{
                width: auto;
            }
        }
    }
}
//   ------------------------------------------------------------------------
#accordionExample .accordion-item .accordion-header .accordion-button {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #000000;
}

#outerQ {
    width:100%;
    text-align: center;
}
.innerQ {
    display: inline-block;
}

.btnActive {
    width: 9.3rem;
    height: 2.8rem;
    background: rgba(214, 126, 27, 0.75);
    /* materialize sombra 2 */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
    color:#FFFFFF;
    border-radius: 7px;
    border: 1px solid rgba(214, 126, 27, 0.75);
    line-height: 1.1rem !important;
    /* Texto botón */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 32px;
    text-transform: uppercase;
    margin: 0.5rem 2rem;
}
.btnDisabled {
    width: 9.3rem;
    height: 2.8rem;
    background: #FFFFFF;
    /* materialize sombra 2 */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
    color: #575757;
    border-radius: 7px;
    border: 1px solid #575757;
    line-height: 1.1rem !important;
    /* Texto botón */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 32px;
    text-transform: uppercase;
    margin: 0.5rem 2rem;
}
.btnOneLine {
    font-size: 11px;
}
.acordeonTitulos {
    position: absolute;
    width: 856px;
    height: 48px;
    /* Blanco */
    background: #FFFFFF;
    /* materialize sombra 2 */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
    border-radius: 7px;
}
.centerVerticalBtn{
    display: flex;
    //justify-content: center;
    flex-direction:row;
    flex-wrap:nowrap;
}

@media (max-width: 1200px) {
    .narrow1 {
      display: block
    }
}

@media (max-width: 412px) {
    .inner{
        width: 45%;
    }
}

@media (max-width: 378px) {
    .narrow1 { display: block }
    .narrow2 { display: block }
}

@media (max-width: 992px){
    .btnActive {
        width: 9.3rem;
        height: 2.8rem;
        background: rgba(214, 126, 27, 0.75);
        /* materialize sombra 2 */
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
        color:#FFFFFF;
        border-radius: 7px;
        border: 1px solid rgba(214, 126, 27, 0.75);
        line-height: 1.1rem !important;
        /* Texto botón */
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 32px;
        text-transform: uppercase;
        margin: 0.5rem 2rem;
    }
    .btnDisabled {
        width: 9.3rem;
        height: 2.8rem;
        background: #FFFFFF;
        /* materialize sombra 2 */
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
        border-radius: 7px;
        border: 1px solid #575757;
        line-height: 1.1rem !important;
        /* Texto botón */
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 32px;
        text-transform: uppercase;
        /* Negro falso */
        color: #575757;
        margin: 0.5rem 2rem;
    }
    .btnOneLine {
        font-size: 11px;
    }
    .acordeonTitulos {
        position: absolute;
        width: 856px;
        height: 48px;
        /* Blanco */
        background: #FFFFFF;
        /* materialize sombra 2 */
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
        border-radius: 7px;
    }
    .centerVerticalBtn{
        display: flex;
        //justify-content: center;
        flex-direction:row;
        flex-wrap:nowrap;
    }
}
@media (max-width: 378px){
    .btnActive {
        width: 6.3rem;
        height: 2.8rem;
        background: rgba(214, 126, 27, 0.75);
        /* materialize sombra 2 */
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
        color:#FFFFFF;
        border-radius: 7px;
        border: 1px solid rgba(214, 126, 27, 0.75);
        line-height: 1.1rem !important;
        /* Texto botón */
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 32px;
        text-transform: uppercase;
        margin: 0 0.9rem 1rem 0;
    }
    .btnDisabled {
        width: 6.3rem;
        height: 2.8rem;
        background: #FFFFFF;
        /* materialize sombra 2 */
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
        border-radius: 7px;
        border: 1px solid #575757;
        line-height: 1.1rem !important;
        margin: 0 0.9rem 1rem 0;
        /* Texto botón */
    
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 9px;
        line-height: 32px;
        text-transform: uppercase;
        /* Negro falso */
        color: #575757;
    }
    .btnOneLine {
        font-size: 7px;
    }
    .centerVerticalBtn{
        display: flex;
        align-items: center;
    }
}
.PreguntasContainer{
    .body-preguntas{
        .buttons{
          .buttons{
            #textline{
              height: 41px;
              line-height: 14px;
            }
            .text{
              text-align: center;
              margin-top: 6px;
              margin-bottom: 6px;
              height: 41px;
      
            }
              .col-xs-5,
              .col-sm-5,
              .col-md-5,
              .col-lg-5 {
                  min-height: 1px;
                  position: relative;
            }
              .col-xs-5{
                  float:left;
                  width: 20%;
            }
          }
        }
        .allQuestion {
            // background-image: url("../../assets/home/Group255.svg") !important;
            // background-size: 1386px 430px;
            padding: 2rem 0;
        }
        h5{
            width: 80%;
            padding-left: 12rem;
        }
    }
    .form{
        .titleForm{
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: #575757;
        }
        .subTitleForm{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #575757;
        }
        .alignLeft{
            display: flex;
            justify-content: left;
            padding-left: 1rem;
        }
        .titleMessageForm{
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #575757;
        }
        .optionForm {
            display: flex;
            justify-content: center;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 17px;
            display: flex;
            align-items: center;
            letter-spacing: 0.5px;
            color: #000000;
            select {
                width: 26rem;
                height: 3.5rem;
                margin: 1rem;
                padding: 5px 35px 5px 5px;
                font-size: 16px;
                border: 1px solid #CCC;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: url("../../assets/preguntas/selectTriangle.svg") 96% / 5% no-repeat !important;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
                border-radius: 7px;
            }
            select::-ms-expand {
                display: none; 
            }
        }
        .inputForm{
            background: #FFFFFF;
            input{
                border: 1px solid #575757;
                box-sizing: border-box;
                border-radius: 7px;    
            }
            textarea{
                border: 1px solid #575757;
                box-sizing: border-box;
                border-radius: 7px;    
            }
            label{
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 16px;
                display: flex;
                align-items: center;
                color: #575757;
                opacity: 0.5;
            }
        }
        .btnSendForm{
            background: #5373AB;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
            border-radius: 7px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 32px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 0 1.5rem;
        }
        .alignCenterBtn{
            display: flex;
            justify-content: center;
            padding: 1rem;
            margin-bottom: 2rem;
        }
         
        @media screen and (min-width:0\0) {
            select {
                background: none\9;
                padding: 5px\9;
            }
        }
    }
}
@media (max-width: 767px) {
    .PreguntasContainer{
        .body-preguntas{
            .container{
              .row{
                  text-align: center;
                  justify-content:  space-evenly;
              }
               
                    
            }
            .allQuestion {
                // background-image: url("../../assets/home/Group255.svg") !important;
                // background-size: 1386px 430px;
                padding: 2rem 0;
            }
           
        }
    }
    
  }


@media (min-width: 768px) {
    .PreguntasContainer{
        .body-preguntas{
            .containerQuestion{
                background-image: url("../../assets/home/Group255.svg") !important;
                background-size: 1386px 430px;
            }
            .buttons{
                .buttons{    
                    .col-sm-5 {
                        float: left;  
                        width: 20%;  
                        
                    }  
                }
                .buttonsmall{
                        display: none;
                }
              }
        }
        .allQuestion {
            // background-image: url("../../assets/home/Group255.svg") !important;
            // background-size: 1386px 430px;
            padding: 2rem 0;
        }
    }   
    }

  
  @media (min-width: 992px) {
    .PreguntasContainer{
        .body-preguntas{
            .buttons{
              .buttons{    
                .col-md-5 {
                    float: left;
                    width: 20%;
                  }
                }
                .buttonsmall{
                    display: none;
                }
            }
            
        }
        .allQuestion {
            // background-image: url("../../assets/home/Group255.svg") !important;
            // background-size: 1386px 430px;
            padding: 2rem 0;
        }
    }
  }
  

  @media (min-width: 1200px) {
    .PreguntasContainer{
        .body-preguntas{
            .container{
                // height: 18rem;
            }
            .buttons{
              .buttons{    
                .col-lg-5 { 
                    float: left; 
                    width: 20%; 
                  }
                .active{
                    color: $secondary;
                } 
                }
                .buttonsmall{
                    display: none;
                }
            }
            .allQuestion {
                // background-image: url("../../assets/home/Group255.svg") !important;
                // background-size: 1386px 430px;
                padding: 2rem 0;
            }
        }
    }
    
  }

  @media (max-width: 412px) {
    .PreguntasContainer{
        .body-preguntas{
            h5{
                width: 90%;
                padding-left: 0;
            }
            .containerQuestion{
                background-image: url("../../assets/home/Group255.svg") !important;
                background-size: 1386px 430px;
            }
        }
    }
      
  }



  