@import "bootstrap";
.PageContainer {
    background: linear-gradient(169.66deg, rgba(38, 81, 156, 0.05) 0.01%, rgba(131, 178, 62, 0.05) 50%, rgba(214, 126, 27, 0.05) 100%);
}
.header-park{
    width: 100%;
    height: 768px;
    background-image: url("../../assets/park/FondoHeader.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 62% center;
    //background-size: 100% auto;
    margin-top: -80 !important;
    .container-title{
        @include make-container(28px);
        margin-top: 125px;
        position: absolute;
        h3{
            width: 319px;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 32px;
            line-height: 39px;
            color: #FFFFFF;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.50);
            text-align: start;
        }
    }
    .container-scroll{
        margin-top: 29rem;
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            margin-bottom: 6px;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #FFFFFF;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75), 0px 2px 5px rgba(0, 0, 0, 0.7);
        }
    }
}

#horizontalSlide{
    height: 1.5px !important;
    width: 50% !important;
    opacity: 1;
    background-image: linear-gradient(90deg, #FBC500 -1.8%, #F9BC02 1.15%, #F4A107 11.98%, #F18F0B 22.81%, #EF840D 33.63%, #EE800E 45.45%, #ED790F 57.26%, #EA6513 73.99%, #E54418 94.66%, #E54418 96.63%);
    margin: 2rem 0 1.2rem 2.5rem;
}


.cotizar{
    display: flex;
    flex-direction: column;
    align-items: center;
    // position: relative;
    margin-top: 21px;
    img{
        margin-top: 60px;
        width: 198px;
    }
    p{
        margin-top: 21px;
        padding: 0px 64px 0px 64px;
        max-width: 800px;
        font-family: Montserrat;
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #575757;
    }
    strong{
        display: block;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #575757;
    }
    .btn{
        margin-top: 6px;
        padding: 0px 12px 0px 12px;
        background: #4B9D45;
        border: none;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
        border-radius: 7px;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 13px;
        line-height: 32px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
    }
    // .modal-dialog-centered{
    //     justify-content: center;
    //     .modal-content{
    //         height: 600px;
    //         width: 300px;
    //         .modal-header{
    //             align-items: flex-start;
    //             flex-direction: column;
    //             padding: 29px;
    //             height: 282px;
    //             background-image: url("../../assets/park/Foto-modal.svg") !important;
    //             background-position: center top;
    //             p{
    //                 margin: 170px 0px 2px 0px;
    //                 padding: 0;
    //                 font-family: Montserrat;
    //                 font-size: 16px;
    //                 line-height: 20px;
    //                 color: #FFFFFF;
    //                 text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    //                 text-align: start;
    //             }
    //             h3{
    //                 font-family: Montserrat;
    //                 font-weight: bold;
    //                 font-size: 24px;
    //                 line-height: 26px;
    //                 color: #FFFFFF;
    //                 text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    //                 text-align: start;
    //             }
    //         }
    //         .modal-body{
    //             padding: 18px 30px 30px 30px;
    //             h3{
    //                 font-family: Montserrat;
    //                 font-weight: bold;
    //                 font-size: 18px;
    //                 line-height: 22px;
    //                 color: #575757;
    //                 text-align: start;
    //             }
    //             .btn{
    //                 width: 168px;
    //                 height: 32px;
    //                 background: #D67E1B;
    //                 box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    //                 border-radius: 7px;
    //                 font-family: Montserrat;
    //                 font-style: normal;
    //                 font-weight: bold;
    //                 font-size: 13px;
    //                 line-height: 32px;
    //             }
    //         }
    //     }
    // }
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    .carousel{
        // @include make-container(28px);
        .information-indicators{
            bottom: 100px !important;
            button{
                background-color: none !important;
                border: 1px solid #4B9D45 !important;
                opacity: 1 !important;
                margin-left: 3px !important;
                margin-right: 3px !important;
            }
            .active{
                background-color: #4B9D45 !important;
                border: none;
                width: 14px;
                height: 14px;
            }
               
        }
        .carousel-item.active{
            height: 590px;
            .carousel-caption{
                // position: relative;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                top: 0%;
                .title-card{
                    position: absolute;
                    top: 0;
                    width: 333px;
                    height: 152px;  
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 100%);
                    // mix-blend-mode: multiply;
                    border-radius: 7px;
                    h3{
                        margin-top: 28px;
                        // margin-bottom: 12px;
                        padding: 0px 23px 0px 23px;
                        font-family: Montserrat;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 29px;
                        text-align: start;
                        color: #fff;
                        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
                    }
                }
                .text-card{
                    position: absolute;
                    top: 485px;
                    max-width: 320px;
                    // bottom: 50px !important;
                    p{  
                        padding: 0;
                        font-family: Roboto;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: start;
                        color: #575757;
                    }
                }
            }
        }
    }
    .info-tabs{
        display: none;
    }
    .MuiDivider-root{
        height: 1.5px !important;
        width: 80% !important;
        background-color: #D67E1B !important;
        margin-left: 10%;
        border-radius: 7px;
    }
    .container-dudas{
        display: flex;
        flex-direction: column;
        margin-top: 29px;
        align-items: center;
        h3{
            font-family: Montserrat;
            font-weight: bold;
            font-size: 24px !important;
            line-height: 29px !important;
            text-align: center;
            color: #575757;
            width: 22rem !important;
        }
        p{
            // padding: 0px 46px 0px 46px;
            width: 19rem !important;
            font-family: Roboto;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #575757;
        }
        .btn{
            margin-top: 6px;
            padding: 0px 12px 0px 12px;
            background: #4B9D45;
            border: none;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
            border-radius: 7px;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 13px;
            line-height: 32px;
            letter-spacing: 0.5px;
            color: #FFFFFF;
        }
    }
}

.image-gallery{
    margin-top: 50px;
    // height: 830px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../../assets/park/fondoVerdeM.svg") !important;
    background-position: top center;
    @include make-container(28px);
    h3{
        margin-top: 10px;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        color: #575757;
        margin-top: 50px;
    }
    .titleImgGallery{
        margin-left: 0;
    }
    .container-gallery{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        // height: 300px;
        // background: #f1f1f1;
        // margin: 100px auto 0;
        margin-top: 10px;
        word-break: break-all;
        // border: 1px solid rgba(0, 0, 0, 0.274);
        .bloc-tabs {
            display: flex;
            align-items: flex-start;
            .tabs {
                padding: 0px 7px 0px 7px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                display: flex;
                align-items: center;
                color: #575757;
                border: none;
                background-color: transparent;
                height: 31px;
            }
            // .tabs:not(:last-child){
            //     border-right: 1px solid rgba(0, 0, 0, 0.274);
            // }
            .active-tabs  {
                padding: 10px;
                background: #FFFFFF;
                border-radius: 7px;
                font-family: Montserrat;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                display: flex;
                align-items: center;
                color: #575757;
            }
            // .active-tabs::before {
            //     content: "";
            //     display: block;
            //     position: absolute;
            //     top: -5px;
            //     left: 50%;
            //     transform: translateX(-50%);
            //     width: calc(100% + 2px);
            //     height: 5px;
            //     background: rgb(88, 147, 241);
            // }
            // button {
            //     border: none;
            // }
        }
        .content-tabs {
            flex-grow : 1;
            .content {
                width: 100%;
                height: 100%;
                display: none;
            }
            .active-content {
                display: block;
                padding: 0;
                .ReactGridGallery{
                    margin-top: 25px;
                    .ReactGridGallery_tile-viewport{
                        border-radius: 7px !important;
                    }
                }
            }
        }
    }
    .container-visitar{
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        align-items: center;
        h3{
            font-family: Montserrat;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #575757;
        }
        p{
            // padding: 0px 46px 0px 46px;
            width: 271px;
            font-family: Roboto;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #575757;
        }
        .btn{
            margin-top: 6px;
            padding: 0px 12px 0px 12px;
            background: #4B9D45;
            border: none;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
            border-radius: 7px;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 13px;
            line-height: 32px;
            letter-spacing: 0.5px;
            color: #FFFFFF;
        }
    }
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 54px;
    @include make-container(28px);
    #rectangle{
        display: none;
    }
    h3{
        margin: 0;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: left;
        color: #575757;
        margin-bottom: 1rem;
    }
    .content{
        display: flex;
        align-items: end;
        margin-top: 25px;
        p{
            justify-content: center;
            padding-left: 30px;
            font-family: Roboto;
            font-size: 14px;
            line-height: 20px;
            color: #575757;
            text-align: start;
        }
    }
}

.documentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(75, 157, 69, 0.05);
    // margin-top: 60px;
    height: 289px;
    .questions{
        display: flex;
        flex-direction: column;
        align-items: center;   
        // justify-content: center;
        h3{
            margin-top: 35px;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #575757;
        }
        p{
            padding-left: 15%;
            padding-right: 15%;
            margin-bottom: 14px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #575757;
        }
        .btn{
            margin-top: 18px !important;
            padding: 0px 8px 0px 8px;
            background: #4B9D45;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
            border-radius: 7px;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 13px;
            line-height: 32px;
            color: #FFFFFF;
        }
    }
}

@media (max-width: 412px){
    .my-nav{
        box-shadow: none;
    }
    .info{
        .carousel{
            .carousel-inner{
                .cardImg{
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.14));
                    background: #C4C4C4;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
                    border-radius: 7px;
                }
            }
        }
    }
    .header-park{
        width: 100%;
        height: 730px;
        background-image: url("../../assets/park/FondoHeaderMovil.png") !important;
        background-repeat: no-repeat;
        background-position: 0 100%;
        background-size: 100% 100%;
        margin-top: -80 !important;
        .shadowImg{
            background: transparent;
        }
        .container-title{
            @include make-container(28px);
            margin-top: 4rem;
            position: absolute;
            h3{
                width: 319px;
                font-family: Montserrat;
                font-weight: bold;
                font-size: 32px;
                line-height: 39px;
                color: #FFFFFF;
                text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
                text-align: start;
            }
        }
        .container-scroll{
            margin-top: 36rem;
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                margin-bottom: 6px;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #FFFFFF;
                text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75), 0px 2px 5px rgba(0, 0, 0, 0.7);
            }
        }
    }
    .image-gallery{
        background-image: url("../../assets/park/fondoVerdeM.svg") !important;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 1620px 650px;
        .container-visitar{
            margin-top: 30px;
        }
    }
    .services{
        h3 {
            width: 100%;
        }
    }
}
@media (max-width: 412px){
    .image-gallery{
        background-image: url("../../assets/park/fondoVerdeM.svg") !important;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 2050px 870px;
        h3 {
            margin-top: 4rem;
        }
        .container-visitar{
            margin-top: 30px;
        }
    }
}

@media (max-width: 376px){
    .header-park{
        width: 100%;
        height: 730px;
        background-image: url("../../assets/park/FondoHeaderMovil.png") !important;
        background-repeat: no-repeat;
        background-position: -39px 100%;
        background-size: 120% auto;
        margin-top: -80 !important;
        .container-title{
            @include make-container(28px);
            margin-top: 4rem;
            position: absolute;
            h3{
                width: 319px;
                font-family: Montserrat;
                font-weight: bold;
                font-size: 32px;
                line-height: 39px;
                color: #FFFFFF;
                text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
                text-align: start;
            }
        }
        .container-scroll{
            margin-top: 36rem;
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                margin-bottom: 6px;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #FFFFFF;
                text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75), 0px 2px 5px rgba(0, 0, 0, 0.7);
            }
        }
    }
    .image-gallery{
        background-image: url("../../assets/park/fondoVerdeM.svg") !important;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 2050px 870px;
        h3 {
            margin-top: 4rem;
        }
        .container-visitar{
            margin-top: 30px;
        }
    }
    .services{
        h3 {
            width: 100%;
        }
    }
}

@media (min-width: 413px) {
    .image-gallery{
        align-items: flex-start;
        background-image: url("../../assets/park/backImgGallery.png") !important;
        background-repeat: repeat-x;
        background-position: top center; 
        background-size: 100% 80%;
    }
}

@media (min-width: 768px){
    .header-park{
        .container-title{
            @include make-container(128px);
            margin-top: 80px;
            h3{
                width: 44rem;
                font-size: 56px;
                line-height: 68px;
            }
        }
    }
    .info{
        background-image: url("../../assets/park/fondoInfoTabs.svg") !important;
        background-repeat: no-repeat;
        background-size: 100% 75%;
        .carousel{
            display: none;
        }
        .info-tabs{
            display: flex;
            flex-direction: column;
            padding-bottom: 40px;
            
            background-position: center center;
            .content-tabs {
                flex-grow : 1;
                width: 100%;
                height: 100%;
                .content {
                    display: none;
                }
                .active-content {
                    display: flex;
                    flex-direction: row-reverse;
                    padding: 0px 128px;
                    img{
                        margin: 56px -13px 40px 0px;
                        width: 543px;
                        height: 620px;
                    }
                    .cardImg{
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.14));
                            background: #C4C4C4;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
                            border-radius: 7px;
                    }
                    .card{
                        width: 567px;
                        height: 331px;
                        margin: 100px 0px 34px 0px;
                        padding-left: 50px;
                        max-width: 567px;
                        min-width: 329px;
                        background: #FFFFFF;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 0px 7px 7px 0px;
                        h3{
                            margin-top: 56px;
                            margin-right: 20px;
                            min-width: 115px;
                            max-width: 320px;
                            font-family: Montserrat;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 29px;
                            color: #575757;
                        }
                        p{
                            margin-top: 30px;
                            margin-right: 20px;
                            min-width: 50px;
                            max-width: 400px;
                            font-family: Roboto;
                            font-size: 14px;
                            line-height: 20px;
                            color: #575757;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
            .bloc-tabs {
                display: flex;
                align-items: flex-start;
                margin-left: 720px;
                margin-top: -260px;
                max-width: 466px;
                min-width: 200px;
                width: 100%;
                height: 100%;
                .tabs {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    margin-right: 32px;
                    width: 134px;
                    height: 200px;
                    background-color: white;
                    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.14));
                    border-radius: 7px;
                    cursor: pointer;
                    p{
                        margin: 8px;
                        font-family: Montserrat;
                        font-size: 14px;
                        line-height: 17px;
                        color: #575757;
                        // width: 118px;
                    }
                    img{
                        width: 135px;
                        height: 135px;
                        border-radius: 7px;
                    }
                }
                .tabs:hover {
                    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.6));
                }
                // .tabs:not(:last-child){
                //     border-right: 1px solid rgba(0, 0, 0, 0.274);
                // }
                .active-tabs  {
                    cursor: default;
                    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.6));
                    p{
                        margin: 8px;
                        // width: 134px;
                        font-weight: bold;
                    }
                }
                // .active-tabs::before {
                //     content: "";
                //     display: block;
                //     position: absolute;
                //     top: -5px;
                //     left: 50%;
                //     transform: translateX(-50%);
                //     width: calc(100% + 2px);
                //     height: 5px;
                //     background: rgb(88, 147, 241);
                // }
                // button {
                //     border: none;
                // }
            }
        }
        .MuiDivider-root{
            margin-top: 60px;
        }
        .container-dudas{
            h3{
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                width: 34rem;
            }
            p{
                width: 40rem;
            }
        }
    }

    .image-gallery{
        align-items: flex-start;
        background-image: url("../../assets/park/backImgGallery.png") !important;
        background-repeat: repeat-x;
        background-position: top center; 
        background-size: 100% 80%;
        @include make-container(128px);
        h3{
            // margin-top: 70px;
        }
        .container-visitar{
            width: 100%;
            margin-top: 0;
            h3{
                font-size: 36px;
                line-height: 44px;
            }
            p{
                width: 490px;
            }
        }
        .container-gallery{
            width: 100%;
        }
    }
    .services{
        align-items: flex-start;
        @include make-container(128px);
        #rectangle{
            display: inline;
            position: absolute;
            width: 62px;
            height: 222px;
            left: 0;
        }
        h3{
            font-size: 36px;
            line-height: 44px;
        }
        .service{
            display: grid;
            margin-top: 10px !important;
            grid-column-gap: 20px;
            grid-template-columns: 33% 33% 33%;
            padding: 10px;
            box-sizing: border-box;
            align-items: flex-start;
            .content{
                margin: 0;
            }
        }
    }
    .documentation{
        // margin-top: 100px !important;
        height: 234px;
        .questions{
            display: inline;
            text-align: center;
            .btn{
                margin: 18px 12px 0px 12px !important;
            }
        }
    }
}

@media (min-width: 126px){
    .info{
        .container-dudas{
            h3{
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                width: 325px;
            }
            p{
                width: 290px;
            }
        }
    }
}

@media (min-width: 1400px){
    .header-park{
        .container-scroll{
            margin-top: 35rem;
        }
        .container-title{
            h3{
                margin-left: 5.2rem;
            }
        }
    }
    .image-gallery{
        .container-gallery{
            margin-left: 5.2rem !important;
        }
        .titleImgGallery{
            margin-left: 5.2rem !important;
        }
    }
}

@media (min-width: 1200px){
    .image-gallery{
        align-items: flex-start;
        background-image: url("../../assets/park/backImgGallery.png") !important;
        background-repeat: repeat-x;
        background-size: 100% 80%;
        background-position-y: 0;
        @include make-container(128px);
        h3{
            margin-top: 70px;
        }
        .container-visitar{
            width: 100%;
            h3{
                font-size: 36px;
                line-height: 44px;
            }
            p{
                width: 490px;
            }
        }
        .titleImgGallery{
            margin-left: 0rem;
        }
        .container-gallery{
            margin-left: 0rem;
        }
    }
}
