@import "bootstrap";

.InformacionContainer {
    background-color: #E5E5E5;
}

.owl-theme{
    .owl-stage{
        margin-left: 3rem;
    }
}

#horizontal1{
    height: 1.5px !important;
    width: 50%;
    opacity: 1;
    background-image: linear-gradient(90deg, #FBC500 -1.8%, #F9BC02 1.15%, #F4A107 11.98%, #F18F0B 22.81%, #EF840D 33.63%, #EE800E 45.45%, #ED790F 57.26%, #EA6513 73.99%, #E54418 94.66%, #E54418 96.63%);
    margin-left: 6rem;
}

#horizontal2{
    height: 1.5px !important;
    width: 50%;
    opacity: 1;
    background-image: linear-gradient(90deg, #FBC500 -1.8%, #F9BC02 1.15%, #F4A107 11.98%, #F18F0B 22.81%, #EF840D 33.63%, #EE800E 45.45%, #ED790F 57.26%, #EA6513 73.99%, #E54418 94.66%, #E54418 96.63%);
    margin: 2rem 0 1.2rem 0;
}

.tramite{
    .container{
        .owl-item {
            .card{
                p{
                    padding: 1rem !important;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    color: #575757;
                }
                h3 {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                    color: #575757;
                }
                .btn {
                    background: #4B9D45 !important;
                    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14) !important;
                    border-radius: 7px !important;
                    // Text
                    font-family: Montserrat !important;
                    font-style: normal !important;
                    font-weight: bold !important;
                    font-size: 13px !important;
                    line-height: 32px !important;
                    display: flex  !important;
                    align-items: center !important;
                    text-align: center !important;
                    letter-spacing: 0.5px !important;
                    text-transform: uppercase !important;
                    color: #FFFFFF !important;

                }
                .btnDeath {
                    background: #4B9D45 !important;
                    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14) !important;
                    border-radius: 7px !important;
                    // Text
                    font-family: Montserrat !important;
                    font-style: normal !important;
                    font-weight: bold !important;
                    font-size: 13px !important;
                    display: flex  !important;
                    align-items: center !important;
                    text-align: center !important;
                    letter-spacing: 0.5px !important;
                    text-transform: uppercase !important;
                    color: #FFFFFF !important;
                    margin-top: 1rem;
                    border: 0;
                    width: 170px;
                }
            }
        }
    }
}

.header-informacion{
    background-color: #E5E5E5;
    width: 100%;
    height: 218px;
    background-image: url("../../assets/informacion/imgHeader_InfoGeneral.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -80 !important;
    .container-title{
        @include make-container(28px);
        margin-top: 80px;
        position: absolute;
        h3{
            width: auto;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 24px;
            line-height: 39px;
            color: #FFFFFF;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            text-align: start;
        }
    }
}

.pago{
    margin-top: 44px;
    p{
        margin: 0px 28px 16px 28px;
        font-family: Roboto;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #575757;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        align-items: center;
        .btn{
            margin-top: 16px;
            padding: 4px 16px;
            background: #FFFFFF;
            box-sizing: border-box;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
            border-radius: 7px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 32px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }
        #medio{
            color: #D67E1B;
            border: 1px solid #D67E1B;
            background: #FFFFFF;
            box-sizing: border-box;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
            border-radius: 7px;
        }
        #tramite{
            color: #5373AB;
            background: #FFFFFF;
            border: 1px solid #5373AB;
            box-sizing: border-box;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
            border-radius: 7px;
        }
        #legal{
            color: #4B9D45;
            border: 1px solid #4B9D45;
        }
        #info{
            color: #4B9D45;
            background: #FFFFFF;
            border: 1px solid #4B9D45;
            box-sizing: border-box;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
            border-radius: 7px;
        }
    }
    .medios-pago{
        margin-top: 70px;
        .title{
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                font-family: Montserrat;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #D67E1B;
            }
            p{
                max-width: 450px;
                margin: 5px 28px;
                font-family: Roboto;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: #575757;
            }
        }
        .pagos{
            margin-top: 32px;
            p{
                margin-bottom: 6px;
                font-family: Montserrat;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                color: #575757;
            }
            img{
                padding: 17px;
            }
            .MuiDivider-root{
                margin: 17px 15%;
                height: 1.5px !important;
                width: 70%;
                opacity: 1;
                background-image: linear-gradient(90deg, #FBC500 -1.8%, #F9BC02 1.15%, #F4A107 11.98%, #F18F0B 22.81%, #EF840D 33.63%, #EE800E 45.45%, #ED790F 57.26%, #EA6513 73.99%, #E54418 94.66%, #E54418 96.63%);
            }
            .pago-linea{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .box-images{
                    max-width: 360px;
                }
            }
            .pago-presencial{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    color: #575757;
                }
            }
        }
    }
}
.tramite{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/home/fondoNoticiasM.svg") !important;
    background-position: center center;
    h3{
        font-family: Montserrat;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #5373AB;
    }
    p{
        padding: 0px 30px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #575757;
    }
    .container-title{
        img{
            display: none;
        }
    }
    .container{
        @include make-container(28px);
        padding-right: 0;
        .owl-carousel{
            display: flex;
            flex-direction: column;
        }
        .owl-stage{
            width: 1550px !important;
        }
        .owl-dots{
            display: flex;
            justify-content: center;
            margin-right: 28px;
        }
        .owl-item{
            width: 310px !important;
            .card{
                width: 285px;
                height: 331px;
                border-color: #5373AB;
                border-radius: 7px;
                
                // margin: 0px 21px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
                h3{
                    margin-top: 44px;
                    font-family: Montserrat;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    color: #575757;
                }
                p{
                    padding: 0;
                    font-family: Roboto;
                    font-size: 14px;
                    line-height: 16px;
                    color: #575757;
                    text-align: center;
                }
                .btn{
                    padding: 0px 20px;
                    margin-top: 25px;
                    background: #FFFFFF;
                    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
                    border-color: #fff;
                    border-radius: 7px;
                    font-family: Montserrat;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 16,9px;
                    color: #D67E1B;
                    text-align: center;
                    align-items: center;
                }
                
            }
        }
    }
}

.legal{
    margin-top: 136px;
    background-color: rgba(75, 157, 69, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 203px;
    h3{
        margin-top: 35px;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #4B9D45;
    }
    p{
        margin: 8px 74px;
        font-family: Roboto;
        font-size: 14px;
        line-height: 20px;
        color: #575757;
    }
    .btn{
        margin-top: 15px;
    }
}

.info-contacto{
    padding-top: 85px;
    background-color: #E5E5E5;
    #outer {
      width:100%;
      text-align: center;
      color: white;
      position: absolute !important;
      z-index: 999 !important;
    }
    .inner {
      display: inline-block;
    }
    .title{
        margin: 0px 28px;
        h3{
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: #4B9D45;
        }
        p{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #575757;
        }
    }
    .subtitles{
        margin-top: 25px;
        margin-bottom: 5rem;
        .title{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            strong{
                font-family: Montserrat;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                color: #575757;
            }
            p{
                font-family: Roboto;
                font-style: normal;
                font-weight: 200;
                font-size: 14px;
                line-height: 20px;
                text-align: center !important;
                color: #575757;
            }
            #tel{
                margin-top: 6px;
                margin-bottom: 24px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                color: #4B9D45;
            }
            a{
                text-decoration: none;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                text-align: center !important;
                color: #575757;
            }
        }
    }
}

@media (min-width: 1400px){
    .header-informacion{
        .container-title{
            h3{
                margin-left: 5.3rem;
            }
        }
    }
    .tramite{
        .container-title{
            margin-left: 4.5rem;
        }
    }
}
@media (min-width: 1100px){
    .header-informacion{
        height: 362px;
        .container-title{
            @include make-container(128px);
            margin-top: 158px;
            h3{
                width: auto;
                font-size: 36px;
                line-height: 44px;
            }
        }
    }
    .pago{
        margin-top: 47px;
        .buttons{
            display: flex;
            justify-content: center;
            flex-direction: row;
        }
        .payContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            .payBox{
                display: grid;
                margin-top: 30px !important;
                grid-auto-flow: column;
                grid-template-columns: 33% 33% 33%;
                grid-column-end: auto;
                box-sizing: border-box;
                align-items: flex-start;
                width: 755%;
                position: relative;
                .payOnline{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    h4{
                        font-size: 1.3rem;
                    }
                    h5{
                        font-size: 1.1rem;
                    }

                    img{
                        margin: 0.8rem;
                        border-radius: 8px;
                    }
                    a{
                        width: 50%;
                    }

                    .pagos-en-linea-A{
                        padding-top: 60px;
                    }

                    .pagos-en-linea-B{
                        padding-top: 65px;
                    }
                }
                .payOnsite{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin-top: 32%;
                }
                .borderPayVertical {
                    border-left: 1px solid #D67E1B;
                    height: 75%;
                    position: absolute;
                    left: 50%;
                    top: 10%;
                }

                .borderPayVertical-A {
                    border-left: 1px solid #D67E1B;
                    height: 75%;
                    position: absolute;
                    left: 33%;
                    top: 10%;
                }

                .borderPayVertical-B {
                    border-left: 1px solid #D67E1B;
                    height: 75%;
                    position: absolute;
                    left: 66%;
                    top: 10%;
                }

                .hrHorizontalMobile{ display: none; }
                .hrHorizontalMobileBottom{ display: none; }
            }
        }
        .medios-pago{
            margin-top: 57px;
            .pagos{
                display: grid;
                margin-top: 30px !important;
                grid-auto-flow: column;
                // grid-gap: 20px;
                grid-template-columns: 50% 50%;
                grid-column-end: auto;
                // padding: 10px;
                box-sizing: border-box;
                align-items: flex-start;
                .MuiDivider-root{
                display: none;
                }
                .pago-linea{
                    border-right-color: #D67E1B  !important;
                    border-right-width: 2px !important;
                    border-right:inset;
                    margin-right: -10px;
                }
                p{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    color: #575757;
                    margin-top: 7rem;
                }
            }
        }
    }
    .tramite{
        display: grid;
        margin-top: 130px !important;
        grid-auto-flow: column;
        grid-gap: 20px;
        grid-template-columns: 30% 70%;
        padding: 10px;
        box-sizing: border-box;
        align-items: flex-start;
        background-image: none !important;
        margin-bottom: 2rem;
        .container-title{
          display: grid;
          margin-top: 4.9rem;
          img{
            display: inline;
            position: absolute;
            left: 0;
          }
          .btn{
            display: inline;
            width: 45px;
            margin-left: 131px;
          }
          h3{
            text-align: left;
            margin-left: 131px;
            width: 190px;
          }
          p{
            text-align: left;
            margin-left: 131px;
            padding-left: 0;
          }
        }
        .container{
          height: 415px;
          background-image: url("../../assets/home/fondoNoticias.svg") !important;
          background-position: top center;
          background-size: cover;
          margin-top: 30px;
          border-left: 2px solid #5373AB;
          padding: 0;
          object-fit: cover;
          .owl-dots{
              display: none;
          }
          .owl-carousel{
            margin-top: 3rem;
          }
        }
    }
    .info-contacto{
        padding-top: 85px;
        .title{
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                max-width: 518px;
                text-align: center;
            }
        }
        .subtitles{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 3rem 0px 0px 2rem;
            max-width: 91.5rem;
            margin-bottom: 5rem;
            .title{
                align-items: center;
                p{
                    max-width: 348px;
                    text-align: center;
                }
                #tel{
                    margin-bottom: 10px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    color: #4B9D45;
                }
            }
        }
    }
}

@media (max-width: 412px){
    .header-informacion{
        background-image: url("../../assets/informacion/imgHeader_InfoGeneral_M.png") !important;
        background-size: 100% 100%;
        .shadowImg{
            background: transparent;
        }
        .container-title{
            h3{
                text-align: center;
            }
        }
    }
    .owl-theme{
        .owl-stage{
            margin-left: 1rem;
        }
    }
    .info-contacto{
        .subtitles{
            .title{
                p{
                    text-align: start !important;
                }
            }
        }
    }
    .tramite{
        margin-top: 2rem;
    }
    .medios-pago{
        .payContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            .payBox{
                .payOnline{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    img{
                        margin: 1rem;
                    }
                }
            }
            .hrHorizontalMobile{
                display: block;
                height: 1px !important;
                width: 60%;
                opacity: 1;
                background-image: linear-gradient(90deg, #FBC500 -1.8%, #F9BC02 1.15%, #F4A107 11.98%, #F18F0B 22.81%, #EF840D 33.63%, #EE800E 45.45%, #ED790F 57.26%, #EA6513 73.99%, #E54418 94.66%, #E54418 96.63%);
                margin: 10%  0; 
                text-align: center;
                margin-left: 20%;
            }
            .hrHorizontalMobileBottom{
                display: block;
                height: 1px !important;
                width: 60%;
                opacity: 1;
                background-image: linear-gradient(90deg, #FBC500 -1.8%, #F9BC02 1.15%, #F4A107 11.98%, #F18F0B 22.81%, #EF840D 33.63%, #EE800E 45.45%, #ED790F 57.26%, #EA6513 73.99%, #E54418 94.66%, #E54418 96.63%);
                margin: 10%  0; 
                text-align: center;
                margin-left: 20%;
                margin-bottom: 0;
            }
        }
    }
}


#root {
        .owl-carousel {
            .owl-nav {
                .owl-prev {
                    height: 60px;
                    width: 40px;
                    position: absolute;
                    top: 47%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    left: 21px;
                    background: white
                        url("../../assets/home/arrowNew.svg") no-repeat 50%;
                    transform: translateY(-50%);
                    span {
                        visibility: hidden;
                    }
                }
                .owl-next {
                    height: 60px;
                    width: 40px;
                    position: absolute;
                    top: 47%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    right: 21px;
                    background: whitesmoke
                        url("../../assets/home/arrowNew.svg") no-repeat 50%;
    
                    transform: translateY(-50%) rotate(180deg);
                    span {
                        visibility: hidden;
                    }
                }
            }
            .owl-dots {
                visibility: hidden;
                position: absolute;
                top: 89%;
                left: 25vw;
                .active {
                    background-color: white !important;
                    height: 10px !important;
                    width: 10px !important;
                    transition: all 0.3s linear !important;
                }
                .owl-dot {
                    background: hsla(0, 0%, 100%, 0.3);
                    display: inline-block;
                    height: 8px;
                    width: 8px;
                    margin-right: 30px;
                    vertical-align: middle;
                    border: none;
                    transition: all 0.3s linear;
                    span {
                        visibility: hidden;
                    }
                }
            }
        }
    }

@media (min-width: 500px){
    #root{
        .owl-carousel{
            .owl-nav{
                .owl-prev-inf{
                    height: 20.7rem !important;
                    width: 3rem !important;
                    position: absolute;
                    top: 10rem !important;
                    transform: translateY(-50%);
                    cursor: pointer;
                    left: 0px !important;
                    background: transparent
                        url("../../assets/home/arrowNew.svg") no-repeat 50% !important;
                    transform: translateY(-50%) rotate(180deg) !important;
                    span {
                        visibility: hidden;
                    }
                    border: 0;
                    // background-color: rgba(60,60,60,0.3) !important;
                }
                .owl-next-inf{
                    height: 20.7rem !important;
                    width: 3rem !important;
                    position: absolute;
                    top: 10rem !important;
                    transform: translateY(-50%);
                    cursor: pointer;
                    right: 2rem !important;
                    background: transparent
                        url("../../assets/home/arrowNew.svg") no-repeat 50% !important;
                    transform: translateY(-50%) !important;
                    span {
                        visibility: hidden;
                    }
                    border: 0;
                    // background-color: rgba(60,60,60,0.3) !important;
                }
            }
        }
    }
}