@import "bootstrap";

.separationLine{
    width: 80% !important;
    margin: 0 auto;
    padding: 20px;
}
.separationLineHr  {
    color:#D67E1B;
    height: 3px !important;
}
.lineShow {
    display: none;
}
#horizontal{
    height: 2.5px !important;
    width: 70%;
    opacity: 1;
    background-image: linear-gradient(90deg, #FBC500 -1.8%, #F9BC02 1.15%, #F4A107 11.98%, #F18F0B 22.81%, #EF840D 33.63%, #EE800E 45.45%, #ED790F 57.26%, #EA6513 73.99%, #E54418 94.66%, #E54418 96.63%);
    margin: 2rem 0 1.2rem 2.5rem;
}

.viewMore {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 13px !important;
  line-height: 32px !important;
  align-items: center;
  text-align: center !important;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF !important;
  padding: 0.1rem 1.2rem !important;
  border-radius: 10px !important;
}

.marginMore {
  padding-right: 0 !important;
  padding-left: 4rem !important;
  padding-bottom: 4rem;
}

.card{
    .row{
        .imag{
            .container{
                position: relative;
                .content{
                    position: absolute;
                    top: 0;
                    background: rgb(0, 0, 0);
                    background: rgba(0, 0, 0, 0.3);
                    color: #f1f1f1;
                    width: 98%;
                    margin-left: 2px;
                    border-radius: 15px 15px 0 0;
                    padding: 20px;
                         .titulo{
                            font-family: Montserrat;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 29.26px;
                    }
                        .paragraph{
                            font-family: Roboto;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 20px;
                        }
    
                }
            }
            
        }
        .col{
            .body{
                .titulo{
                    padding-right: 25px;
                    font-family: Montserrat;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29.26px;
                }
                .paragraph{
                    font-family: Roboto;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}