@import "bootstrap";

// .card {
//     max-width: 540px;
// }

.container{
    .row{
        .colum{
            .titulo{
                    //padding-right: 25px;
                    font-family: Montserrat;
                    font-weight: 700;
                    font-size: 24px;
                    //line-height: 29.26px;
            }
            .buttone{
                padding-left: initial;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                color: #D67E1B;
            }
        }
    }
}
.body-noticias{
    .btn-link:focus{
        border-color: none;
        box-shadow: none;
        outline: 0 none;
    }
    .btnSort{
        margin-left: 1.2rem;
        margin-top: 1rem;
    }
}