.modal-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
  }
  
  .modal-wrapper2 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }

  .mapNames {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 116.69%;
    display: flex;
    align-items: center;
    color: #575757;
    width: 60%;
  }
  
  .modal2 {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 500px;
  }
  
  .modal-header2 {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-close-button2 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
  }
  .nameModal{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 116.69%;
    display: flex;
    align-items: center;
    color: #575757;
    width: 60%;
  }

  .modal-footer{
      padding: 0 !important;
      border: 0 !important;
  }
  #map {
    border-radius: 10px;
  }
  .btnDownload{
    background: #5373AB !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    border-radius: 7px  !important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300 !important;
    font-size: 13px !important;
    line-height: 32px !important;
    display: flex !important;
    align-items: center;
    text-align: center !important;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF !important;
    padding: 0.1rem 1rem !important;
    border: 0 !important;
}
.dataSepultura{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #575757;
}
.timeSepultura {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #575757;
}