@import "bootstrap";
.imgColorH {
    background-image: url("../../assets/obituario/calendarActive.svg") !important;
    background-repeat: no-repeat;
    text-align: center;
    width: 64px;
    height: 76px;
    background: #FFFFFF;
    /* materialize sombra 2 */
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    padding-top: 13px;
    line-height: 1px;
    margin: 0 auto; 
    color: #26519C;
    font-family: Roboto;
    font-style: normal;
    cursor: pointer;
    h3 {
        font-family: 'Roboto' !important;
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 32px !important;
        text-align: center !important;
        color: #26519C !important;
        opacity: 0.75 !important;
    }
}

.imgColorTxtH {
    color:#D67E1B !important;
    text-transform: uppercase;
    font-weight: 500 !important;
}

.imgBlackH {
    background-image: url("../../assets/obituario/calendarDisabled.svg") !important;
    background-repeat: no-repeat;
    text-align: center;
    width: 64px;
    height: 76px;
    background: #FFFFFF;
    /* materialize sombra 2 */
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    padding-top: 13px;
    line-height: 1px;
    margin: 0 auto; 
    font-family: Roboto;
    font-style: normal;
    cursor: pointer;
    h3{
        font-family: 'Roboto' !important;
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 32px !important;
        text-align: center !important;
        opacity: 0.75 !important;
        color: #89898C !important;
    }
}

.imgBlackTxtH {
    color: #89898C !important;
    text-transform: uppercase;
    font-weight: 500 !important;
}

.txtCalendarH {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: normal   !important;
    font-size: 14px !important;
    text-align: center !important;
    vertical-align: middle !important;
    display: inline-block !important;
    color: #575757 !important;
}

.txtCalendarBoldH {
    vertical-align: middle;
    display: inline-block;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 18px !important;
    text-align: center !important;
}

.alignElementsR{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
.alignElementsL{
    width: 100%;
    display: flex !important;
    justify-content: flex-start !important;
}

.graveyard{
  display: flex;
  flex-direction: column;
  align-items: center;
  #horizontal{
    height: 1.5px !important;
    width: 70%;
    opacity: 1;
    background-image: linear-gradient(90deg, #FBC500 -1.8%, #F9BC02 1.15%, #F4A107 11.98%, #F18F0B 22.81%, #EF840D 33.63%, #EE800E 45.45%, #ED790F 57.26%, #EA6513 73.99%, #E54418 94.66%, #E54418 96.63%);
    margin-bottom: 10%;
  }
  #horizontalMap{
    height: 1.5px !important;
    width: 70%;
    opacity: 1;
    background-image: red;
    margin-bottom: 10%;
  }
  .container-location-obituary{
    width: 100%;
    height: 51.3rem;
    .location{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
      h3{
        padding-left: 35px;
        padding-right: 35px;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #575757;
        margin-top: 2rem;
      }
      p{
        padding-left: 15%;
        padding-right: 15%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #575757;
      }
      
      .input-group{
        width: 87%;
        // margin-left: 10%;
        .input-group-text{
          background-color: #FFFFFF !important;
          border-right: none;
          border-radius: 7px;
        }
        .form-control{
          border-left: none;
          border-radius: 7px;
        }
      }
      
      .btn{
        padding: 0px 8px 0px 8px;
        margin-top: 10%;
        background: #26519C;
        opacity: 0.75;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
        border-radius: 7px;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 13px;
        line-height: 32px;
        color: #FFFFFF;
        border:0;
      }
    }
    .obituary{
      margin-top: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h3{
        font-family: Montserrat;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #575757;
      }
      p{
        padding-left: 15%;
        padding-right: 15%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #575757;
      }
      .img-days{
        margin: 5% 0;
        justify-content: space-evenly;
      }
      .btn{
        padding: 0px 8px 0px 8px;
        margin-top: 10%;
        background: #26519C;
        opacity: 0.75;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
        border-radius: 7px;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 13px;
        line-height: 32px;
        color: #FFFFFF;
        border: 0;
      }
    }
  }
  .container-visit{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    width: 100%;
    height: 51.3rem;
    .visit{
      h3{
        font-family: Montserrat;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #575757;
        margin-top: 2rem;
      }
      p{
        padding-left: 15%;
        padding-right: 15%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #575757;
      }
      .container{
        @include make-container(28px);
        .visit-info{
          padding: 0;
          #lun{
            margin-bottom: 0;
          }
          strong{
            margin-bottom: 2.7px;
            text-align: left;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #2691C7;
            padding-top: 1rem;
          }
          p{
            padding: 0;
            text-align: left;
          }
        }
        .input-group{
          .input-group-text{
            background-color: #FFFFFF !important;
            border: 1px solid rgba(38, 81, 156, 0.75);
            box-sizing: border-box;
            border-radius: 7px 0px 0px 7px;
          }
          .btn{
            padding: 0px 8px 0px 8px;
            height: 35px;
            background: #26519C;
            opacity: 0.75;
            border-radius: 0px 7px 7px 0px;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 13px;
            line-height: 32px;
            color: #FFFFFF;
            border: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 900px){
  .graveyard {
    .container-visit {
      height: 55rem !important;
    }
    .container-location-obituary{
      height: 55rem !important;
    }
  }
    
}

@media (min-width: 768px){
    .containerMap{
        display: grid;
        margin-top: 30px !important;
        grid-auto-flow: column;
        grid-template-columns: 50% 50%;
        grid-column-end: auto;
        box-sizing: border-box;
        align-items: flex-start;
        width: 75%;
        position: relative;
        margin-bottom: 4rem;
        .borderMapVertical {
            border-left: 2px solid #3CA5DD;
            height: 80%;
            position: absolute;
            left: 50%;
        }
        .container-location-obituary{
            .borderMapHorizontal {
                border-top: 1px solid #3CA5DD !important;
                width: 30% !important;
                position: absolute !important;
                left: 60% !important;
                top: 37% !important;
            }
        }
    }
    .graveyard{
        background-image: url("../../assets/home/Group255.svg") !important;
        background-size: 1386px 430px;
        display: grid;
        margin-top: 30px !important;
        // grid-auto-flow: column;
        // grid-gap: 20px;
        // grid-template-columns: 50% 50%;
        // grid-column-end: auto;
        // padding: 10px;
        // box-sizing: border-box;
        display: flex;
        align-items: center;
        .MuiDivider-root{
          display: none;
        }
        // background-color: blue !important;
        .container-visit{
          width: 100%;
          display: flex;
          height: 60rem;
          justify-content: center;
          margin-right: -10px;
          background: linear-gradient(169.66deg, rgba(38, 81, 156, 0.05) 0.01%, rgba(75, 157, 69, 0.05) 50%, rgba(214, 126, 27, 0.05) 100%), rgba(255, 255, 255, 0.75);
          .visit{
            width: 80%;
            margin-top: 0;
            p{
              padding: 0;
              margin-top: -0.3rem;
              font-size: 14px;
              font-weight: 300;
              line-height: 16px;
              font-style: normal;
              margin-bottom: 1rem;
            }
            .container{
              padding: 0;
            }
          }
        }
        .container-location-obituary{
          width: 100%;
          display: flex;
          height: 60rem;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: linear-gradient(169.66deg, rgba(38, 81, 156, 0.05) 0.01%, rgba(75, 157, 69, 0.05) 50%, rgba(214, 126, 27, 0.05) 100%), rgba(255, 255, 255, 0.75);
          a:link, a:visited, a:active {
            text-decoration:none;
          }
          .location{
            width: 80%;
            margin-top: 0;
            h3{
              padding: 0;
            }
            p{
              padding: 0;
              width: 65%;
              margin-top: -0.3rem;
              font-size: 14px;
              font-weight: 300;
              line-height: 16px;
              font-style: normal;
              margin-bottom: 1rem;
            }
            .input-group{
              width: 97%;
              margin-left: 0;
              ::placeholder {
                color: #26519C;
                opacity: 0.5;
              }
            }
            .btn{
              margin-top: 25px;
              font-family: 'Montserrat';
              font-size: 13px;
              font-weight: bold;
              line-height: 32px;
              font-style: normal;
              margin-bottom: 6rem;
              letter-spacing: 0.5px;
            }
           
          }
          .obituary{
            width: 320px;
            margin-top: 35px;
            margin-bottom: 5.9rem;
            p{
              padding: 0;
            }
          }
        }
      }
      .information{
        display: grid;
        // margin-top: 30px !important;
        grid-auto-flow: column;
        grid-gap: 20px;
        grid-template-columns: 50% 50%;
        padding: 10px;
        box-sizing: border-box;
        align-items: flex-start;
        
      }
}

@media (max-width: 415px) {
    .alignElements{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .graveyard{
        #horizontal {
            margin-left: 0;
            width: 60%;
        }
        #horizontalMap {
            display: none;
        }
        .container-visit{
            height: 40rem;
            .visit{
                h3 {
                    margin-top: 1rem;
                }
            }
        }
        .container-location-obituary{
            height: 40rem;
            margin-top: 13rem;
        }
    }
    .containerMap{
        margin-top: 30px !important;
        // grid-auto-flow: column;
        // grid-gap: 20px;
        // grid-template-columns: 50% 50%;
        // grid-column-end: auto;
        // padding: 10px;
        // box-sizing: border-box;
        display: grid !important;

        align-items: center;
        .borderMapVertical {
            // border-left: 2px solid #3CA5DD;
            // height: 43rem;
            // position: absolute;
            // left: 31.3rem;
            display: none;
        }
        .borderMapHorizontal {
            // border-top: 1px solid #3CA5DD !important;
            // width: 23rem !important;
            // position: absolute !important;
            // left: 36rem !important;
            // top: 19rem !important;
            display: none;
        }
    }
}

@media (max-width: 376px) {
    .graveyard{
        #horizontal {
            margin-left: 0;
            width: 60%;
        }
        .container-visit{
            height: 40rem;
            .visit{
                h3 {
                    margin-top: 1rem;
                }
            }
        }
    }
}

@media (min-width: 1367px) {
    .containerMap{
        display: grid;
        margin-top: 30px !important;
        grid-auto-flow: column;
        grid-template-columns: 50% 50%;
        grid-column-end: auto;
        box-sizing: border-box;
        align-items: flex-start;
        width: 75%;
        position: relative;
        .borderMapVertical {
            border-left: 2px solid #3CA5DD;
            height: 80%;
            position: absolute;
            left: 50%;
        }
        .container-location-obituary{
            .borderMapHorizontal {
                border-top: 1px solid #3CA5DD !important;
                width: 30% !important;
                position: absolute !important;
                left: 60% !important;
                top: 37% !important;
            }
        }
        
    }
    .graveyard{
        .borderMapHorizontal {
            border-top: 1px solid #3CA5DD;
            width: 26rem;
            position: absolute;
            left: 58rem;
            margin-left: -3px;
            top: 191rem;
        }
    }

}