@import "bootstrap";

.sticky{
    position: fixed !important;
    top: 0px !important;
}

.my-container {
    display: none;
}

.shadowImg{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

#outer {
  width:100%;
  text-align: center;
  color: white;
  position: absolute !important;
  z-index: 999 !important;
}
.inner {
  display: inline-block;
}

@media (max-width: 415px){
   #outer {
    display: none;
  }
}

@media (max-width: 768px){
    .navTransparent{
        // background-color: none !important;
        backdrop-filter: blur(5px) !important;
        background: rgba(255, 255, 255, 0.01); 
    }
    .sticky{
        background-color: #fff !important;
    }
}

.navWhite{
    background-color: #fff;
}
.my-nav {
    // position: absolute !important;
    z-index: 999;
    width: 100%;
    max-width: 1147px;
    height: 61px;
    top: 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
    .container{
        @include make-container(28px);
        margin: 0;
        button{
            position: absolute;
            border: none;
            padding-right: 0;
            right: 28px;
        }
        .navbar-nav{
            display: none;
        }
    }
}




.my-link {
    // margin-left: 26px;
    padding-right: 0 !important;
    background-color: #4B9D45;
    color: white !important;
    margin: 16px 0px 16px 0px  !important;
    border-radius: 7px 0px 0px 7px;
    span{
        padding-right: 25px;
        font-family: Roboto;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
    }
}

.offcanvas {
    width: 268px !important;
    .offcanvas-header{
        padding: 31px 22px 10px 26px;
        h6{
            font-family: Montserrat;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: #575757;
        }
    }
    .offcanvas-body{
        padding: 0px 0px 15px 26px;
        .nav-pills{
            padding: 0px 22px 10px 0px;
            .nav-link{
                padding: 6px 0px 6px 0px;
                span{
                    font-family: Roboto;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    color: #575757;
                }
            }
        }
    }
    .MuiDivider-root{
        height: 1.5px !important;
        width: 221px !important;
        // background-color: rgba(0, 0, 0, 0.125)  !important;
        background-color: black !important;
        border-radius: 7px;
    }
    .contact{
        margin-top: 29px;
        h3{
            margin-bottom: 10px;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: #575757;
        }
        strong{
            font-family: Roboto;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #575757;
        }
        small{
            margin-bottom: 10px;
            font-family: Roboto;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            color: #575757;
            text-align: start;
        }
        img{
            margin: 16px 22px 0px 0px;
        }
    }
}

@media (min-width: 768px){
    .my-nav {
        // position: relative;
        left: 50%;
        transform: translatex(-50%);
        width: 90%;
        border-radius: 5px;
        background-color: #fff;
        .logo{
            content: url("../../assets/navbar/logo.svg");
            background-position: center center;
        }
        .icon{
            content: url("../../assets/navbar/iconMenuB.svg");
        }
    }
    .my-container {
        display: flex;
        justify-content: space-between;
        padding-left: 0 !important;
        padding-right: 0 !important;
        position: absolute !important;
        z-index: 999 !important;
        width: 86% !important;
        left: 7%;
        top: 5px !important;
        color: white;
        max-width: 69.7rem;
        margin-left: 2rem;
        .icons{
            img{
                margin-left: 15px;
            }
        }
        p, a{
            text-decoration: none;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            line-height: 2rem;
        }
        a:hover{
            color: #FFFFFF;
        }
    }
}

@media (min-width: 992px){
    .my-nav{
        display: flex;
        height: 71px;
        padding: 0 !important;
        // justify-content: space-around !important;
        .container{
            padding-right: 0 !important;
            margin-right: 0 !important;
            height: 71px;
            .navbar-nav{
                display: flex;
                position: fixed;
                right: 58px !important ;
                align-items: center;
                height: 71px;
                max-width: 700px;
                box-sizing: border-box;
                .nav-item{
                    font-family: Montserrat;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 20px;
                    color: #575757;
                    a{
                        padding: 8px 10px 8px 10px;
                    }
                }
                .custom{
                    height: 71px;
                    background-color: #4b9d45 !important;
                    border-radius: 0px 7px 7px 0px;
                    padding-top: 7px;
                    // margin-left: 10px;
                    a{
                        width: 159px !important;
                        color: #fff;
                    }
                }
            }
        }
    }
}
// .custom-element{
//     width: 56px !important;
//     background-color: #4b9d45 !important;
//     // height: 100% !important;
// }
@media (min-width: 1400px){
    .my-container{
        max-width: 69.5rem;
        margin-left: 6.6rem;
    }
}