@import "bootstrap";

.header-obituario{
    width: 100%;
    height: 218px;
    background-image: url("../../assets/obituario/imgHeader_Obituary_PC.png") !important;
    background-size: cover;
    background-position: center center;
    margin-top: -80 !important;
    .container-title{
        @include make-container(28px);
        margin-top: 80px;
        position: absolute;
        h3{
            width: 319px;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 24px;
            line-height: 39px;
            color: #FFFFFF;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            text-align: start;
        }
    }
}

.btnLlegar{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold !important;
    font-size: 13px !important;
    line-height: 32px !important;
    /* identical to box height, or 249% */

    text-align: center !important;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: #FFFFFF !important;
    background-color: #5373AB !important;
    border: 1px solid #5373AB !important;
    border-radius: 0px 7px 7px 0 !important;
}
.btnGroupAddon{
    border-radius: 7px 0 0 7px !important;
}
.iconDownloadMobile{
    display: none !important;
}
.iconDownloadPC{
    display: block;
}
.btnLlegarMobile{
    display: none !important;
}
.btnLlegarPC{
    display: block;
    margin-left: 11.4rem;
}

.imgColor {
    background-image: url("../../assets/obituario/calendarActive.svg") !important;
    background-repeat: no-repeat;
    text-align: center;
    width: 64px;
    height: 76px;
    background: #FFFFFF;
    /* materialize sombra 2 */
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    padding-top: 13px;
    line-height: 1px;
    margin: 0 auto;
    cursor: pointer;
    h3 {
        font-family: Roboto;
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 32px !important;
        text-align: center !important;
        color: #26519C !important;
        opacity: 0.75 !important;
    }
}

.imgColorTxt {
    color:#D67E1B;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.imgBlack {
    background-image: url("../../assets/obituario/calendarDisabled.svg") !important;
    background-repeat: no-repeat;
    text-align: center;
    width: 64px;
    height: 76px;
    background: #FFFFFF;
    /* materialize sombra 2 */
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    padding-top: 13px;
    line-height: 1px;
    margin: 0 auto; 
    cursor: pointer;
    h3{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        text-align: center;
        color: #89898C !important;
    }
}

.imgBlackTxt {
    color: #89898C;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.txtCalendar {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin-left: -6px;
    color: #575757;
}

.txtCalendarBold {
    vertical-align: middle;
    display: inline-block;
    margin-left: -10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.optMovil {
    display: none;
}
.optPc {
    display: block;
    width: 100%;
}

.btnUbicacion {
    background: #26519C;
    opacity: 0.75;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    border-radius: 9px !important;
    span{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 13px !important;
        line-height: 32px !important;
        display: flex !important;
        align-items: center;
        text-align: center !important;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #FFFFFF !important;
    }
}

.body-obituario{
    .disable{
        display: none;
    }
    .btnUbicacionList{
        background: #26519C !important;
        opacity: 0.75;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
        border-radius: 7px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .button-tabs{
        margin-top: -20px;
        display: flex;
        justify-content: center;
        #button-ubicacion{
            width: 114px;
            margin-right: -6px;
            background: #E6E6E6;
            border-radius: 7px 0px 0px 7px;
            border: none;
            font-family: Montserrat;
            font-weight: 500;
            font-size: 13px;
            line-height: 32px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #575757;
           
        }
        #button-obituario{
            width: 121px;
            padding: 1px 20px 1px 8px;
            background: rgba(91, 123, 179, 1);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
            border-radius: 7px;
            border: none;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 32px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    p{
        margin-top: 6px;
        padding: 0px 28px;
        text-align: left;
    }
    .table{
        h3{
            margin: 28px 0px 0px 28px;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #575757;
        }
        p{
            margin: 5px 0px 10px 28px;
            padding: 0;
            font-family: Roboto;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: #575757;
        }
        .fallecidos{
            .resuTotal {
                font-family: Roboto;
                font-style: normal;
                font-weight: 100;
                font-size: 14px;
                line-height: 16px;
                display: flex;
                align-items: center;
                color: #575757;
                margin-left: 1rem;
            }
            .list-group{
                padding: 0;
                margin-bottom: 70px;
                .list-header{
                    display: flex;
                    justify-content: space-between;
                    background-color: #575757;
                    height: 44px ;
                    .list-title{
                        display: flex;
                        margin-left: 28px;
                        p{
                            margin: 0;
                            font-family: Montserrat;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                            text-align: center;
                            color: #FFF;
                        }
                        .arrow{
                            // display: block;
                            margin-top: 15px;
                            margin-left: 8px;
                            width: 13px;
                            height: 13px;
                        }
                    }
                    .dropdown{
                        .btn{
                            background: none;
                            border: none;
                            padding-right: 28px;
                        }
                        strong{
                            margin-left: 16px;
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 29px;
                            color: #575757;
                        }
                    }
                }
                .list-group-item{
                    height: 130px;
                    display: flex;
                    justify-content: space-between;
                    padding: 21px 28px;
                    .left{
                        p{
                            margin: 0;
                            font-family: Roboto;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 116.69%;
                            text-align: initial;
                            color: #575757;
                        }
                        #name{
                            margin-bottom: -1rem;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 116.69%;
                            display: flex;
                            align-items: center;
                            color: #575757;
                        }
                        #sec{
                            margin-top: 14px;
                        }
                        span{
                            text-transform:lowercase
                        }
                        span:first-letter{
                            text-transform: capitalize;
                        }
                    }
                    .rigth{
                        .btn{
                            width: 106.77px;
                            height: 33px;
                            padding: 0;
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 32px;
                            letter-spacing: 0.5px;
                            color: #FFFFFF;
                            background: #5b7bb3;
                            border-radius: 7px;
                        }
                    }
                }
            }
            .MuiPaper-root{
                display: none;
            }
        }
    }
}
@media (min-width: 1400px){
    .header-obituario{
        .container-title{
            margin-left: 5rem !important;
        }
    }
    .body-obituario{
        .table{
            width: 89.5%;
            margin-left: 5.3rem;
        }
    }
    .optPc{
        width: 89.5%;
        margin-left: 5.3rem;
    }
}

@media (min-width: 768px){
    .header-obituario{
        height: 321px;
        .container-title{
            @include make-container(128px);
            margin-top: 139px;
            h3{
                width: auto;
                font-size: 36px;
            }
        }
    }
    .body-obituario{
        @include make-container(128px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .button-tabs{
            margin-top: 30px;
        }
        .table{
            h3{
                margin-left: 0;
            }
            .fallecidos{

                .list-group{
                    display: none;
                }
                .MuiPaper-root{
                    display: block;
                    .MuiButtonBase-root.Mui-disabled{
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 415px) {
    .header-obituario{
        background-image: url("../../assets/obituario/imgHeader_Obituary_Mobile.png") !important;
        height: 14.5rem;
        .shadowImg{
            background: transparent;
        }
        .container-title{
            h3{
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #FFFFFF;
                text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
                margin-left: 1rem;

            }
        }
    }
    .body-obituario{
        .button-tabs{
            margin-top: -1rem;
            margin-bottom: 1.5rem;
        }
    }
    .optMovil {
        display: block;
        p{
            text-align: center;
        }
    }
    .optPc {
        display: none;
    }
    .iconDownloadMobile{
        display: block !important;
        background-color: transparent !important;
        border: 0 !important;
    }
    .iconDownloadPC{
        display: none !important;
    }
    .btnLlegarMobile{
        display: block !important;
        .btnUbicacion{
            position: absolute;
            margin-top: 380px !important;
            margin-left: -280px !important;
            z-index: 99;
            background-color: transparent;
        }
        .btnGroupAddon{
            background-color: white !important;
            z-index: 99;
        }
        .horaPopup {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: right;
            color: #575757;
            position: absolute;
            margin-right: -77px;
            margin-top: 1rem;
        }
    }
    .btnLlegarPC{
        display: none !important;
    }
    .modal-wrapper2{
        .modal2{
            .modal-content{
                .modal-body{
                    .container{
                        .rows{
                            table, tr, td{
                                .nameModal{
                                    width: 120%;
                                }
                                .timePC {
                                    display: none;
                                }
                                .dataSepultura{
                                    margin-top: 1rem;
                                    width: 120%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}