@import "bootstrap";
footer{
    height: 469px;
    background-color: rgba(90, 90, 90, 1);
    .footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 36px 0px 36px;
        .contact{
            margin-top: 26px;
            h3{
                margin-bottom: 2px;
                text-align: start;
                font-family: Montserrat;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
            }
            p{  
                margin: 8px 0px  0px 0px;
                font-family: Roboto;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
            }
            img{
                margin: 10px 22px 0px 0px;
            }
            a{
                text-decoration: none;
                font-family: Roboto;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
            }
            a:hover{
                color: #FFFFFF;
            }
        }
        .site-map{
            margin-top: 50px;
            h3{
                margin-bottom: 2px;
                text-align: start;
                font-family: Montserrat;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
            }
            ul{
                margin-top: 10px;
                a{
                    padding: 0;
                    span{
                        font-family: Roboto;
                        font-size: 14px;
                        line-height: 20px;
                        color: #FFFFFF !important;
                    }
                }
            }
        }
    }
    .copy{
        align-items: center;
        display: flex;
        height: 2rem;
        justify-content: center;
        margin-top: 2rem;
        p{
            width: 320px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #FFFFFF;
        }
    }
    .conditionPrivacy{
        align-items: center;
        display: flex;
        height: 2rem;
        justify-content: center;
        p{
            width: 320px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #FFFFFF;
        }
        a {
            text-decoration: none;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}

@media (min-width: 768px){
    footer{
        height: 338px;
        .footer{
            display: grid;
            grid-auto-flow: column;
            box-sizing: border-box;
            align-items: center;
            justify-content: space-evenly;
        }
        .copy{
            margin-top: 30px;
            p{
                width: 100%;
            }
        }
    }
}