// root
$body-bg: rgb(253, 253, 253);
//naranja  #D67E1B
//verde osc #4b9d45
//verde cla #83B23E
//azul #26519C
//gris #89898C

//customs fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@300;500&display=swap');

//customs colors
$blue:       #26519C;
$orange:     #D67E1B;
$green:      #4b9d45;
$gray:       #575757;


//custom buttons
// $btn-font-family: 'Montserrat';
// $btn-font-weight: bold;
// $body-color: #fff;
// $btn-padding-y: 16px;
// $btn-padding-x: 8px;
// $btn-font-size: 13px;
// $btn-border-radius: 7px;
// $btn-focus-box-shadow: 0px 2px 2px rgba(0,0,0,0.14);


//custom colors
$primary: $green;
$secondary: $orange;
$info: $blue;
$light: $gray;

$theme-colors: (
  "primary": $primary,
  "secondary":  $secondary,
  "info":       $info,
  "light": $light,
);

//custom navbar color
$navbar-light-disabled-color: white;

//custom carousel
$carousel-indicator-width:15px;
$carousel-indicator-height:15px;
$carousel-indicator-spacer:7px;
// $carousel-indicator-active-bg:blue;
$carousel-caption-spacer:35%;
$carousel-caption-width:100%;
$carousel-transition-duration: .1s;

.carousel-indicators [data-bs-target] {
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
}
.carousel-caption {
    padding-left: 5%;
}

// @media screen and (max-width:575.98px) {
// // @include media-breakpoint-down(md) {
//     .carousel-item img{
//         background: url("../assets/home/fondo-1.png") no-repeat center top;
//         height: 648px;
//         width: 100%;
//     }
// }
// @media screen and (min-width:576px) {
// // @include media-breakpoint-up(md) {
//     .carousel-item img {
//         // box-sizing:border-box;
//         // display:block;
//         background: url("../assets/home/fondo-2.png") no-repeat center top;
//         height: 648px;
//         width: 100%;
//         // overflow:hidden;
//         // padding-left: 
//     }
// }

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';