// nav .navbar-nav li a{
//   color: white !important;
// }
@import "bootstrap";
// strong{
//   font-family: 'Montserrat' !important;
//   font-weight: bold !important;
//   font-size: 24px !important;
// }
// p{
//   margin-top: 6px !important;
//   font-family: 'Roboto' !important;
//   font-size: 14px !important;
//   line-height: 20px !important;
// }
// h3{
//   padding-right: 16px !important;
//   font-family: 'Montserrat' !important;
//   font-weight: bold !important;
//   font-size: 24px !important;
//   line-height: 20px !important;
// }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.showErr { display: inline;}
.hideErr { display: none;}

.shadowData{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    height: 5rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

div .btnNews {
    position: absolute;
    top: 315px;
    left: 165.5px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    border-radius: 7px 0px 0px 7px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border:0;
    a{
        text-decoration: none;
        color: #D67E1B !important;
    }
}
.boxCard{
    display: flex;
    align-items: center;
    justify-content: center;
    .btnPart{
        flex: 1;
        .boxTitle{
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 44px;
            color: #FFFFFF;
        }
        .boxBtn{
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 32px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.6);
        }
        .boxBtn01{
            background: #FFFFFF;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
            backdrop-filter: blur(4px);
            border-radius: 7px;
            span{
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 13px;
                line-height: 16px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.6);
                padding: 0.3rem 0;
            }
        }
    }
    .txtPart{
        flex: 3;
        padding-left: 2rem;
    }
    .imgPart{
        flex: 1;
    }
}
.my-carousel {
  margin-top: -80px;  
  z-index: 1;
  .fondo{
    height: 685px;
    content: url('../../assets/home/fondo-2.png');
  } 
  .carousel-indicators{
    bottom: 45px !important;
    button{
      background-color: transparent;
      border: 1px solid #fff !important;
      opacity: 1 !important;
      margin-left: 4px !important;
      margin-right: 4px !important;
    }
    .active{
      background-color: #fff !important;
      border: none;
      width: 16px;
      height: 16px;
    }
  }
  .fondo{
    width: 100%;
    height: 648px;
    object-fit: cover;
    object-position: 70% 30%;
    content: url('../../assets/home/fondo-1.png');
  }
  .my-caption{
    position: absolute !important;
    top: 56%;
    right: 15% !important;
    left: 0 !important;
    z-index: 10;
    padding: 24px 0px 24px 0px !important;
    border-radius: 0px 7px 7px 0px;
    color: #fff !important;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.05) 100%);
    background-color: none !important;
    backdrop-filter: blur(5px) !important;
    width: 258px;
    height: 29%;
    text-align: left !important;
    .container{
      @include make-container(28px);
      padding-right: 0;
      box-sizing: border-box;
      h3{
        padding-right: 16px;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 24px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
      }
      .btn{
        padding: 0px 16px 0px 16px;
        background-color: #fff;
        border-color: #fff;
        border-radius: 7px;
        height: 36px;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 13px;
        color: #4b9d45;
        letter-spacing: 0.5px;
      }
    }
  }
}

.payment-card {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  .container{
    @include make-container(28px);
    .my-card{
    position: absolute !important;
    margin-top: -50px !important;
    background-color: #5DA758 !important;
    color: white;
    border: none;
    border-radius: 16px !important;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);

    height: 232px;
    width: 350px;// !important;
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    align-items: center !important;

    padding: 24px;
    //align-items: flex-start;

    .card-body{
      padding-right: 32px;
      padding-left: 32px;
    }
    strong{
      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 24px;
    }
    p{
      margin-top: 6px;
      font-family: 'Roboto';
      font-size: 14px !important;
      line-height: 20px;
    }
    input{
      background: rgba(255, 255, 255, 0.5);
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 7px !important;
      width: 100%;
      color: rgba(255, 255, 255, 0.75);
      font-family: 'Roboto';
      padding: 2px 12px 2px 12px;
    }
    #button-pay{
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      .btn{
        padding-right: 12px;
        padding-left: 12px;
        color: #fff !important;
        border-color: #fff;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 14px;
        border-radius: 7px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
      }
    }
    a{
      font-family: 'Roboto';
      color: #fff;
    }
   }
  }
}

.park{
  margin-top: 250px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/home/fondoNuestroParqueM.svg") !important;
  background-position: top center;
  background-size: 92.5% auto;
  h3{
    color: #575757;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }
  .btn{
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    border-radius: 7px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 13px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.6);
    border: none;
  }
  .carousel-caption {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    top: -70px;
    text-align: center;
    color:#FFFFFF !important;
    img{
      margin-bottom: 20px;
    }
    h3{
      font-family: Montserrat;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      color: #FFFFFF;
    }
    p{
      width: 280px;
      height: 62px;
      margin-bottom: 20px;
      font-family: Montserrat;
      font-style: italic;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
    }
    .btn{
      padding: 0px 12px 0px 12px;
      background: #FFFFFF;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
      border-radius: 7px;
      font-family: Montserrat;
      font-weight: bold;
      font-size: 13px;
      line-height: 32px;
      color: rgba(0, 0, 0, 0.6);
      border: none;
    }
  }
  .carousel-indicators{
    bottom: -40px !important;
    button{
      background-color: #fff !important;
      border: 1px solid #575757 !important;
      opacity: 1 !important;
      margin-left: 4px !important;
      margin-right: 4px !important;
    }
    .active{
      background-color: #575757 !important;
      border: none;
      width: 16px;
      height: 16px;
    }
  }
  .card-group{
    display: none;
  }
}

.subTituloFallecimiento { 
    width:'27em';
    text-align: left;
    font-weight: normal;
    font-size: 18px !important;
};

.demise{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  background-image: url("../../assets/home/Fondo-verde.svg") !important;
  background-position: center;
  background-size: cover;
  // background-color: rgba(75, 157, 69, 0.05);
  h3{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5rem;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color:#575757;
    box-sizing: border-box;
  }
  .subTitleItemsFallecimiento {
    height: 2em;
  }
  p{
    // margin-top: 6px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Roboto';
    font-size: 14px !important;
    line-height: 20px;
    text-align: center;
    color: #575757;
  }
  .subTituloFallecimiento { 
    width:27em;
    text-align: left;
    font-weight: normal;
    font-size: 18px !important;
  }
  .carousel{
    margin-top: 30px ;
    .carousel-inner{
      height: 17rem;
      .carousel-item.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        img{
          width: 97px;
          height: 121px;
        }
        .carousel-caption{
          position: relative;
          flex-direction: column;
          padding-left: 0;
          padding-bottom: 0px;
          h3{
            margin-top: 0;
            margin-bottom: 12px;
            padding-left: 18%;
            padding-right: 18%;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #4b9d45;
          }
          p{
            font-family: Roboto;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #575757;
          }
        }
    }
    }
  .demise-indicators{
      bottom: -50px !important;
      button{
        background-color: #fff !important;
        border: 1px solid #4b9d45 !important;
        opacity: 1 !important;
        margin-left: 3px !important;
        margin-right: 3px !important;
      }
      .active{
        background-color: #4b9d45 !important;
        border: none;
        width: 14px;
        height: 14px;
      }
    }
  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    .btn{
      margin-top: 50px;
      padding-left: 10px;
      padding-right: 10px;
      background: #4B9D45;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
      border-radius: 7px;
      font-family: Montserrat;
      font-weight: bold;
      font-size: 13px;
      line-height: 32px;
      color: #FFFFFF !important;
    }
    .btn-MasInfo {
        padding: 0 1em !important;
    }
  }
  .card-group{
    display: none;
  }
}

.demiseFallecimiento  {
    display: flex;
    justify-content: center;
}

.news{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/home/fondoNoticiasM.svg") !important;
  background-position: center center;
  h3{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #575757;
  }
  p{
    padding-left: 20%;
    padding-right: 20%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #575757;
  }
  .container-title{
    img{
      display: none;
    }
    .btn{
      display: none;
    }
  }
  .container{
    @include make-container(28px);
    padding-right: 0;
    .owl-theme{
        .owl-stage{
            margin-left: 0;
        }
    }
    .owl-carousel{
      display: flex;
    }

    .owl-item{
      width: 246px !important;
      .card{
        width: 246px;
        height: 369px;
        // padding-left: 5%;
        border: none;
        h3{
          padding-top: 15px;
          padding-left: 15px;
          padding-bottom: 9px;
          font-family: Montserrat;
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
          color: #FFFFFF;
          text-align: start;
        }
        p{
          padding-left: 15px;
          font-family: Roboto;
          font-size: 14px;
          line-height: 16px;
          color: #FFFFFF;
          text-align: start;
        }
        .btn{
          display: none;
          padding: 0px 8px 0px 8px;
          margin-top: 120px;
          margin-right: -163px;
          background: #FFFFFF;
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
          border-color: #fff;
          border-radius: 7px 0px 0px 7px;
          font-family: Montserrat;
          font-weight: bold;
          font-size: 13px;
          line-height: 32px;
          color: #D67E1B;
          text-align: center;
          align-items: center;
        }
      }
    }
  }
  .btn{
    padding: 0px 8px 0px 8px;
    margin-top: 5px;
    background: #D67E1B;
    border-color: #D67E1B;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    border-radius: 7px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 13px;
    line-height: 32px;
    color: #FFFFFF;
  }
  
}



.information{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(75, 157, 69, 0.05);
  height: 26rem;
  h3{
    margin-top: 35px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #575757;
  }
  p{
    padding-left: 15%;
    padding-right: 15%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #575757;
    height: 4rem;
  }
  .btn{
    padding: 0px 8px 0px 8px;
    background: #4B9D45;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    border-radius: 7px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 13px;
    line-height: 32px;
    color: #FFFFFF;
  }
  .info-general{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .payments{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 500px){
    #root{
        .owl-carousel{
            .owl-nav{
                .owl-prev{
                    height: 23rem !important;
                    width: 3rem !important;
                    position: absolute;
                    top: 11.2rem !important;
                    transform: translateY(-50%);
                    cursor: pointer;
                    left: -1rem !important;
                    background: transparent
                        url("../../assets/home/arrowNew.svg") no-repeat 50% !important;
                    transform: translateY(-50%) rotate(180deg);
                    span {
                        visibility: hidden;
                    }
                    //background-color: rgba(60,60,60,0.3) !important;
                }
                .owl-next {
                    height: 23rem !important;
                    width: 3rem !important;
                    position: absolute;
                    top: 11.2rem !important;
                    transform: translateY(-50%);
                    cursor: pointer;
                    right: 0rem !important;
                    background: transparent
                        url("../../assets/home/arrowNew.svg") no-repeat 50% !important;
                    
                    transform: translateY(-50%);
                    span {
                        visibility: hidden;
                    }
                    //background-color: rgba(60,60,60,0.1) !important;
                    //background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(2,0,36,1) 100%) !important;
                }
            }
        }
    }
}

@media (min-width: 768px){
  .my-carousel {
    .fondo{
      height: 685px;
      content: url('../../assets/home/fondo-2.png');
    }
    .my-caption{
      top: 240px;
      width: 41rem;
      height: 307px;
      padding-left: 128px !important;
      padding-right: 34px !important;
      border-radius: 0px 7px 7px 0px !important;
      align-items: center;
      .container{
        // @include make-container(128px);
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;
        position: absolute;
        top: 25%;
        left: 19.5%;
        margin: -25px 0px;
        h3{
          width: 416px;
          padding-right: 0;
          font-size: 40px;
          text-transform: uppercase;
        }
      }
    }
  }
  .payment-card {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    .container{
      @include make-container(128px);
      .my-card{
        width: 592px;
        z-index: 4;
        .card-body{
          display: grid;
          grid-auto-flow: column;
          grid-gap: 20px;
          grid-template-columns: 60% 40%;
          padding: 10px;
          .content{
            margin-left: 10%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            input{
              width: 80%;
            }
            a{
                text-decoration: none;
            }
          }
        }
      }
    }
  }
  .information{
    height: 234px;
  }
}
@media (min-width: 1250px) {
  .demise{
    @include make-container(128px);
    align-items: flex-start;
    height: 667px;
    h3{
      margin-top: 50px;
      padding: 0;
    }
    p{
      padding: 0;
    }
    .carousel{
      display: none;
    }
    .card-group{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin-top: 20px;
      .card{
        flex-direction: column;
        align-items: center;
        margin: 0px 33px 0px 33px;
        border: none;
        margin: 0px 25px 10px 25px !important;
        box-sizing: border-box;
        background-color: transparent;
        img{
          width: auto;
          height: auto;
        }
        .card-body{
          padding: 0;
          margin-top: 20px;
          h3{
            margin-top: 0;
            margin-bottom: 12px;
            width: 240px;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #4b9d45;
          }
          p{
            font-family: Roboto;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #575757;
          }
        }
      }
    }
    .content{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .btn{
        margin-top: 0;
      }
    }
  }
}

@media (min-width: 992px){
  .park{
    @include make-container(128px);
    background-image: url("../../assets/home/fondoNuestroParque.svg") !important;
    background-size: cover;
    align-items: center;
    h3{
        margin: 0;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        color: #575757;
    }
    .carousel{
      display: none;
    }
    .card-group{
      display: flex;
      flex-direction: column;
      .card{
        border: none;
        margin-bottom: 10px;
        max-width: 1147px;
        min-width: 851px;
        height: 161px;
        .card-img-overlay{
          display: grid;
          grid-auto-flow: column;
          grid-gap: 20px;
          // grid-template-columns: 20% 80%;
          padding: 10px;
          box-sizing: border-box;
          .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 13%;
            img{
              // margin-top: -30px;
              margin-bottom: 10px;
            }
            h3{
              margin: 0;
              font-family: Montserrat;
              font-weight: bold;
              font-size: 36px;
              line-height: 44px;
              color: #fff;
            }
            .btn{
              padding: 0px 12px 0px 12px;
              margin-top: 10px;
            }
          }
          .content-p{
            display: flex;
            width: 590px;
            box-sizing: border-box;
            align-items: center;
            p{
              margin: 0;
              font-family: Montserrat;
              font-style: italic;
              font-weight: 500;
              font-size: 18px;
              line-height: 25px;
              color: #FFFFFF;
              text-align: left;
              text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }
  }
  .news{
    display: grid;
    margin-top: 30px !important;
    grid-auto-flow: column;
    grid-gap: 20px;
    grid-template-columns: 30% 70%;
    padding: 10px;
    box-sizing: border-box;
    align-items: flex-start;
    background-image: none !important;
    .btn{
      display: none;
    }
    .container-title{
      display: grid;
      margin-top: 80px;
      img{
        display: inline;
        position: absolute;
        width: 62px;
        height: 358px;
        left: 0;
      }
      a:link, a:visited, a:active {
        text-decoration:none;
      }
      .btn{
        display: inline;
        width: 100px;
        margin-left: 131px;
      }
      h3{
        text-align: left;
        margin-left: 131px;
      }
      p{
        text-align: left;
        margin-left: 131px;
        padding-left: 0;
      }
    }
    .container{
      background-image: url("../../assets/home/fondoNoticias.svg") !important;
      background-position: center center;
      background-size: 100% 100%;
      margin-top: 30px;
    //   border-left: 2px solid #D67E1B;
      padding-left: 1rem;
      color: #D67E1B !important;
      padding-top: 3rem;
      padding-bottom: 3rem;
      // .owl-carousel{
      //   .owl-nav{
      //     display: block;
      //     .owl-prev{
      //       position: absolute;
      //       left: 0;
      //       top: 0;
      //       height: 358px;
      //       background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
      //       opacity: 0.5;
      //       span{
      //         color: #FFFFFF;
      //         height: 52px;
      //         width: 15px;
      //       }
      //     }
      //     .owl-next{
      //       // display: none;
      //       position: absolute;
      //       left: 100%;
      //       border: 4px solid #FFFFFF;
      //       background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
      //       opacity: 0.5;
      //     }
      //   }
      // }
    }
    .borderNoticies {
        border-left: 2px solid #D67E1B;
        height: 23rem;
        position: absolute;
        left: 24.5rem;
    }
  }
  .imgFallecimiento {
      height: 130px;
      display: flex;
  }
  
}
@media (max-width: 376px){
    .HomePageContainer{
        .demise {
            .subTituloFallecimiento{
                width: 22.5rem;
                text-align: center;
            }
        }
    }
    .payment-card{
        .container{
            .my-card{
                z-index: 4;
                #button-pay{
                    margin-top: 0rem;
                }
            }
        }
    }
}
 

@media (max-width: 415px){
    .my-carousel {
      .fondo{
        height: 685px;
        content: url('../../assets/home/homeMobile.jpg');
      }
    }
    .HomePageContainer{
        .header{
            .shadowImg{
                background: transparent;
            }
        }
        .demise {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 250px;
            background-image: url("../../assets/home/backSectionDeath.svg") !important;
            background-position: center;
            background-size: cover;
            .subTituloFallecimiento{
                width: 22.5rem;
                text-align: center;
            }
        }
    }
    .payment-card{
        .container{
            .my-card{
                z-index: 4;
            }
        }
    }
    .my-caption{
        top: 240px;
        width: 17rem !important;
        height: 307px;
        padding-left: 128px !important;
        padding-right: 34px !important;
        border-radius: 0px 7px 7px 0px !important;
        align-items: center;
        .container{
          // @include make-container(128px);
            padding-left: 0;
            padding-right: 0;
            box-sizing: border-box;
            h3{
                padding-right: 0 !important;
                font-size: 24px !important;
                line-height: 29px !important;
                color: #FFFFFF !important;
                text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5) !important;
                width: 95%;
            }
        }
    }
}

@media (min-width: 1367px){
    .news{
        .borderNoticies {
            border-left: 2px solid #D67E1B;
            height: 23rem;
            position: absolute;
            left: 27.5rem;
        }
    }
    .my-carousel{
        .my-caption{
            .container{
                left:32%;
            }
        }
    }
}


.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

#root {
  .owl-carousel {
      .owl-nav {
          .owl-prev {
              height: 80px;
              width: 40px;
              position: absolute;
              top: 47%;
              transform: translateY(-50%);
              cursor: pointer;
              left: 21px;
              background: transparent
                  url("../../assets/home/arrow.svg") no-repeat 50%;
              transform: translateY(-50%) rotate(180deg) !important;
              span {
                  visibility: hidden;
              }
          }
          .owl-next {
              height: 80px;
              width: 40px;
              position: absolute;
              top: 47%;
              transform: translateY(-50%);
              cursor: pointer;
              right: 21px;
              background: transparent
                  url("../../assets/home/arrow.svg") no-repeat 50%;

              transform: translateY(-50%) !important;
              span {
                  visibility: hidden;
              }
          }
      }
      .owl-dots {
          position: absolute;
          top: 89%;
          left: 25vw;
          .active {
              background-color: white !important;
              height: 10px !important;
              width: 10px !important;
              transition: all 0.3s linear !important;
          }
          .owl-dot {
              background: hsla(0, 0%, 100%, 0.3);
              display: inline-block;
              height: 8px;
              width: 8px;
              margin-right: 30px;
              vertical-align: middle;
              border: none;
              transition: all 0.3s linear;
              span {
                  visibility: hidden;
              }
          }
      }
  }
}