@import "bootstrap";

.header-fallecimiento{
    width: 100%;
    height: 218px;
    background-image: url("../../assets/fallecimiento/imgHeader_Fallecimientos.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 62% center;
    margin-top: -80 !important;
    .container-title{
        @include make-container(28px);
        margin-top: 80px;
        position: absolute;
        h3{
            width: 319px;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 24px;
            line-height: 39px;
            color: #FFFFFF;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            text-align: start;
        }
    }
}

.body-fallecimiento{
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 0px 28px;
    h3{
        padding: 0px 28px;
        margin-top: 32px;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #575757;
        span{
            font-style: normal;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #4B9D45;
        }
        .footerContact {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #4B9D45;
        }
    }
    p{
        max-width: 545px;
        padding: 0px 28px;
        margin-top: 10px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #575757;
    }
    .footerAsesora {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #575757;
        margin-top: -7px;
        margin-bottom: 2rem;
    }
    .footerTelefono{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        strong{
            padding: 0px 12px 0px 3px;
            font-size: 13px;
            line-height: 34px;      
            margin-left: 0.5rem;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 34px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #4B9D45;

        }
        .btn{
            padding-right: 12px;
            padding-left: 12px;
            color: #4B9D45 !important;
            background-color: #fff;
            border-color: #fff;
            font-family: 'Montserrat';
            font-weight: bold;
            font-size: 13px;
            border-radius: 7px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
            text-transform: uppercase;
        }
    }
    .my-card{
        // margin: 28px;
        background: linear-gradient(0deg, rgba(75, 157, 69, 0.1), rgba(75, 157, 69, 0.1)), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 7px !important;
        border-color: #4B9D45;
        width: 22rem;
        left: 17.5%;
        .card-body{
            padding-right: 32px;
            padding-left: 32px;
        }
        strong{
            font-family: Montserrat;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #4B9D45;
        }
        p{
            font-size: 14px;
            line-height: 20px;
        }
        .content-telefono{
            display: flex;
            justify-content: center;
            strong{
                padding: 0px 12px 0px 3px;
                font-size: 13px;
                line-height: 34px;      
            }
            .btn{
                padding-right: 12px;
                padding-left: 12px;
                color: #4B9D45 !important;
                background-color: #fff;
                border-color: #fff;
                font-family: 'Montserrat';
                font-weight: bold;
                font-size: 13px;
                border-radius: 7px;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
                text-transform: uppercase;
            }
        }
    }
    .paso{
        margin-top: 26px;
        width: 100%;
        background-color: rgba(244, 248, 246, 0.7);

        p{
            padding: 0;
            font-size: 14px;
            line-height: 20px;
        }
        .title{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 24px 28px 26px 28px;
            background-color: rgba(131, 178, 62, 0.1);
            h3{
                margin-top: 0;
            }
        }
        .card-group{
            display: block;
            padding-top: 46px;
            padding-bottom: 20px;
            background-image: linear-gradient(169.66deg, rgba(38, 81, 156, 0.05) 0.01%, rgba(75, 157, 69, 0.05) 50%, rgba(214, 126, 27, 0.05) 100%);
            .card{
                margin: 0;
                border: none;
                align-items: center;
                background-color: transparent;
                height: auto;
                .card-body{
                    padding: 16px 28px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h3{
                        margin-top: 25px;
                        padding: 0;
                        font-size: 18px;
                        line-height: 22px;
                    }
                    ul, li {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 23px;
                        color: #575757;
                    }
                    p{
                        margin: 0;
                    }
                    strong{
                        font-family: Montserrat;
                        font-weight: bold;
                        margin-bottom: 16px;
                        color: #4B9D45;
                        text-align: center;
                    }
                    .content{
                        display: flex;
                        align-items: flex-start;
                        img{
                            width: 57px;
                        }
                        ul{
                            max-width: 234px;
                            .cancelSepu{
                                font-family: Roboto;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 23px;
                                color: #575757;
                                li {
                                    padding: 0 10px;
                                    text-align: start;
                                }
                            }
                            li{
                                padding: 0.5rem 0;
                                
                            }
                        }
                    }
                    .content-telefono{
                        display: flex;
                        justify-content: center;
                        img{
                            margin: 0;
                            color: #8AB749;
                        }
                        strong{
                            padding: 15px 12px 0px 18px;
                            font-size: 13px;
                            line-height: 34px;      
                            color: #8AB749;
                        }
                        .btn{
                            padding-right: 12px;
                            padding-left: 12px;
                            color: #8AB749 !important;
                            background-color: #fff;
                            border-color: #fff;
                            font-family: 'Montserrat';
                            font-weight: bold;
                            font-size: 13px;
                            border-radius: 7px;
                            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
                            margin-top: 15px;
                            text-transform: uppercase;
                        }
                    }
                    .contactLeftAlign{
                        justify-content: start;
                    }
                }
            }
            .MuiDivider-root{
                height: 1px !important;
                width: 46%;
                opacity: 1;
                background-image: linear-gradient(90deg,rgba(60, 165, 221, 1), rgba(60, 165, 221, 1), rgba(48, 148, 208, 1),rgba(14, 101, 171, 1),rgba(1, 82, 156, 1),rgba(1, 82, 156, 1));
                margin: 46px 28%;
            }
        }
    }
    .info-fallecimiento{
        padding: 50px 28px;
        strong{
            font-family: Montserrat;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #4B9D45;
        }
        p{
            font-size: 14px;
            line-height: 20px;
        }
        .content-telefono{
            display: flex;
            justify-content: center;
            strong{
                padding: 0px 12px 0px 3px;
                font-size: 13px;
                line-height: 34px;      
            }
            .btn{
                padding-right: 12px;
                padding-left: 12px;
                color: #4B9D45 !important;
                background-color: #fff;
                border-color: #fff;
                font-family: 'Montserrat';
                font-weight: bold;
                font-size: 13px;
                border-radius: 7px;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
            }
        }
    }
    .body-paso{
        width: 100%;
        display: flex;
        justify-content: center;
        background-image: url("../../assets/fallecimiento/fondoFallecimiento_paso_paso.svg") !important;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}

@media (min-width: 1400px){
    .header-fallecimiento{
        .container-title{
            margin-left: 5.3rem !important;
        }
    }
}

@media (min-width: 768px){
    .header-fallecimiento{
        height: 321px;
        .container-title{
            @include make-container(128px);
            margin-top: 139px;
            h3{
                width: auto;
                font-size: 36px;
            }
        }
    }
    .body-fallecimiento{
        .paso{
            max-width: 946px;
            .card-group{
                flex-direction: column;
                .card{
                    flex-direction: row;
                    justify-content: end;
                    align-items: flex-start;
                    height: auto;
                    img{
                        margin: 0px 73px;
                    }
                    .card-body{
                        max-width: 680px;
                        padding: 0;
                        align-items: flex-start;
                        h3{
                            margin-top: 0;
                        }
                        p{
                            text-align: start;
                        }
                        .content{
                            justify-content: flex-start;
                            width: auto;
                            img{
                                margin: 15px 9px 12px 9px;
                            }
                            ul{
                                max-width: 531px;
                            }
                        }
                        span{
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 22px;
                            text-align: center;
                            color: #8AB749;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 415px){
    .header-fallecimiento{
        background-image: url("../../assets/fallecimiento/imgHeader_Fallecimientos_Mobile.png") !important;
        background-size: 100% 100%;
        .shadowImg{
            background: transparent;
        }
    }
    .body-fallecimiento{
        .call24hs{
            background-image: url("../../assets/fallecimiento/fondoFallecimientoMovil.svg") !important;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: 100% 15rem;
        }
        .my-card{
            width: 20rem;
            margin: auto;
            left: 0;
        }
        .paso{
            .card-group{
                .card{
                    height: auto;
                    .card-body{
                      .content{
                        img { margin-top: 1.1rem;}
                      }
                    }
                }
            }
            .card-body{
                span{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                    color: #8AB749;
                }
                .contactLeftAlign{
                    justify-content: center !important;
                }
            }
        }
    }
}