@import "bootstrap";

.btnVerCuenta {
    background: #FFFFFF !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14) !important;
    border-radius: 7px !important;
    padding-right: 12px;
    padding-left: 12px;
    color: #fff !important;
    border-color: #fff;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 14px;
    border-radius: 7px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
}

.btnVerCuentacolor{
    color:#4B9D45 !important;  
}

.txtTitleTable {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.txtCtaNro {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    color: #575757;
}
.nroCtaNro {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #575757;
}

.modal {
color: black;
    .modal-dialog{
        .modal-content{
            .modal-header{
               border: none;
            }
        .modal-body{
            .materialTable{
                margin-top: 10px;
                margin-bottom: 20px;
                margin-left: 30px;
                margin-right: 30px;
                padding-bottom: 10px;
                //padding-top: 10px;
                .seleccione {
                    font-family: Roboto;
                    color: #575757;
                    font-weight: 400;
                    font-size: 14px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: center;
    
                }
                .modal-title{
                    color: #575757;
                    font-family: Montserrat;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29.26px;
                    display: flex;
                    justify-content: center;
                    margin-top: 10px;
                    text-transform: uppercase;
                }
                .btn {
                   // background-color: white;
                    color: black;
                }
                .hrtitleDiv {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                #hrTitle {
                    height: 1.5px !important;
                    width: 30%;
                    opacity: 1;
                    background: #c6d108; /* Old browsers */
                    background: -moz-linear-gradient(top,  #c6d108 0%, #a1c516 9%, #83bc21 22%, #6bb429 37%, #5aaf2f 50%, #50ac33 61%, #4dab34 72%, #389633 81%, #03622f 90%, #03622f 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,  #c6d108 0%,#a1c516 9%,#83bc21 22%,#6bb429 37%,#5aaf2f 50%,#50ac33 61%,#4dab34 72%,#389633 81%,#03622f 90%,#03622f 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,  #c6d108 0%,#a1c516 9%,#83bc21 22%,#6bb429 37%,#5aaf2f 50%,#50ac33 61%,#4dab34 72%,#389633 81%,#03622f 90%,#03622f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6d108', endColorstr='#03622f',GradientType=0 ); /* IE6-9 */
                    margin: 1rem 0 0 0;
                }
                .hrtitleDiv {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                #hrTitle {
                    height: 1.5px !important;
                    width: 30%;
                    opacity: 1;
                    background: #c6d108; /* Old browsers */
                    background: -moz-linear-gradient(top,  #c6d108 0%, #a1c516 9%, #83bc21 22%, #6bb429 37%, #5aaf2f 50%, #50ac33 61%, #4dab34 72%, #389633 81%, #03622f 90%, #03622f 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,  #c6d108 0%,#a1c516 9%,#83bc21 22%,#6bb429 37%,#5aaf2f 50%,#50ac33 61%,#4dab34 72%,#389633 81%,#03622f 90%,#03622f 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,  #c6d108 0%,#a1c516 9%,#83bc21 22%,#6bb429 37%,#5aaf2f 50%,#50ac33 61%,#4dab34 72%,#389633 81%,#03622f 90%,#03622f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6d108', endColorstr='#03622f',GradientType=0 ); /* IE6-9 */
                    margin: 1rem 0 0 0;
                }
            }
            .table{
                .table-info{
                    color: white;
                    background-color: #26519C;
                    
                }
            }
            }
        }
    }
}

@media (max-width: 415px){
    .btnVerCuentacolor{
        font-size: 12px;
    }
}



