#hrTitleTotal {
    height: 1.5px !important;
    width: 100%;
    opacity: 1;
    background: #c6d108; /* Old browsers */
    background: -moz-linear-gradient(top,  #c6d108 0%, #a1c516 9%, #83bc21 22%, #6bb429 37%, #5aaf2f 50%, #50ac33 61%, #4dab34 72%, #389633 81%, #03622f 90%, #03622f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #c6d108 0%,#a1c516 9%,#83bc21 22%,#6bb429 37%,#5aaf2f 50%,#50ac33 61%,#4dab34 72%,#389633 81%,#03622f 90%,#03622f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #c6d108 0%,#a1c516 9%,#83bc21 22%,#6bb429 37%,#5aaf2f 50%,#50ac33 61%,#4dab34 72%,#389633 81%,#03622f 90%,#03622f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6d108', endColorstr='#03622f',GradientType=0 ); /* IE6-9 */
    margin: 1rem 0 0 0;
}

.modal2{
    .modal-content{
        .modal-body{
            .materialTable{
                .modal-title{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 29px;
                    text-align: center;
                    color: #575757;
                }
                .txtContrato{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    color: #575757;
                    margin: 1rem 0;
                    text-align: center;
                }
                .txtTxtResu{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 29px;
                    color: #575757;
                }
                .txtTitleCuota{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    color: #575757;
                    margin-top: 1rem;
                }
                .txtDetalleCuota{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    border: 0;
                    margin-top: -0.5rem;
                }
                .txtMontoTotal{
                    text-align: right;
                }
                .txtSeleccionePago{
                    text-align: center;
                }
                li { 
                    border: 0 none; 
                }
                .txtTotalGral{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 32px;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    color: #575757;
                }
                .txtTotalGralMonto{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    color: #575757;
                }
                .btnMediosDePagos{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 32px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    background: #D67E1B;
                    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
                    border-radius: 7px;
                    position:relative;
                    margin-left:50%;
                    left:-50px;
                }
            }
        }
    }
}