.tblSepulturaMobile{
    display: none !important;
}
.MuiTableCell-root {
    border: 0 !important;
}
.bothEmpty{
    display: none;
}
.maintenanceEmpty{
    display: none;
}
.totalCuotas {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    .my-card{
        background: #4B9D45;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        width: 24rem;
        margin: 1rem;
        .card-body{
            margin: 0;
            text-align: center;
            h5{
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
                margin-top: 0;
            }
            p{
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
            }
            .btnTotal{
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 13px;
                line-height: 32px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: #575757;
                background: #FFFFFF;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
                border-radius: 7px;
                border: 0;
            }
            .MontoPagarContent {
                width: 50%;
                float: left;
            }
            .btnPagarContent{
                width: 50%;
                float: right;
                display: flex;
                justify-content: flex-end;
                margin-top: 0.5rem;
            }
        }
    }
}
.modal-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
    }
    .modal-wrapper2 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    }
    .modal2 {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 500px;
    .modalEmpty{
        display: flex;
        justify-content: center;
        // fonts
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #575757;
        .cardEmpty{
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 7px;
            width: 55%;
        }
        .emptyTitle{
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #575757;
        }
    }
    .modal-content{
        .modal-header{
            border: none;
         }
         .modal-body{
            .materialTable{
                margin-top: 10px;
                margin-bottom: 20px;
                margin-left: 30px;
                margin-right: 30px;
                padding-bottom: 10px;
                //padding-top: 10px;
                .seleccione {
                    font-family: Roboto;
                    color: #575757;
                    font-weight: 400;
                    font-size: 14px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: center;
    
                }
                .modal-title{
                    color: #575757;
                    font-family: Montserrat;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29.26px;
                    display: flex;
                    justify-content: center;
                    margin-top: 10px;
                }
                .btn {
                   // background-color: white;
                   color: black
                   
                }
                .hrtitleDiv {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                #hrTitle {
                    height: 1.5px !important;
                    width: 30%;
                    opacity: 1;
                    background: #c6d108; /* Old browsers */
                    background: -moz-linear-gradient(top,  #c6d108 0%, #a1c516 9%, #83bc21 22%, #6bb429 37%, #5aaf2f 50%, #50ac33 61%, #4dab34 72%, #389633 81%, #03622f 90%, #03622f 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,  #c6d108 0%,#a1c516 9%,#83bc21 22%,#6bb429 37%,#5aaf2f 50%,#50ac33 61%,#4dab34 72%,#389633 81%,#03622f 90%,#03622f 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,  #c6d108 0%,#a1c516 9%,#83bc21 22%,#6bb429 37%,#5aaf2f 50%,#50ac33 61%,#4dab34 72%,#389633 81%,#03622f 90%,#03622f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6d108', endColorstr='#03622f',GradientType=0 ); /* IE6-9 */
                    margin: 1rem 0 0 0;
                }
                .cardEmptyCenter{
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    .cardEmpty{
                        border: 1px solid #000000;
                        box-sizing: border-box;
                        border-radius: 7px;
                        width: 55%;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        text-align: center;
                        color: #575757;
                    }
                }
            }
            // .table{
            //     .table-info{
            //         color: white;
            //         background-color: #26519C;
                    
            //     }
            // }
         }
    }
    
    }
    .modal-header2 {
    display: flex;
    justify-content: flex-end;
    }
    .modal-close-button2 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
    }

    .btnVerCuenta {
        background: #FFFFFF !important;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14) !important;
        border-radius: 7px !important;
        padding-right: 12px;
        padding-left: 12px;
        color: #fff !important;
        border-color: #fff;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 14px;
        border-radius: 7px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    }

    .btnVerCuentacolor{
        color:#4B9D45 !important;  
    }

    .txtTitleTable {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }
    // .txtCtaNro {
    //     font-family: Montserrat;
    //     font-style: normal;
    //     font-weight: bold;
    //     font-size: 17px;
    //     line-height: 22px;
    //     color: #575757;
    // }

    .nroCtaNro {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #575757;
    }
    .nroCtaNroBold{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #575757;
    }
    .nroCtaNroBoldMobile{
        margin-left: 0rem;
    }
    .modoPC{
        display: none;
    }
    .cuotaCheckboxBlue{
        -webkit-appearance: none;
        background-color: #fafafa;
        border: 1px solid #cacece;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 9px;
        border-radius: 3px;
        display: inline-block;
        position: relative;
    }
    .cuotaCheckboxBlue:active, .cuotaCheckboxBlue:checked:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }
    
    .cuotaCheckboxBlue:checked {
        background-color: #e9ecee;
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        color: #2691C7;
    }
    .cuotaCheckboxBlue:checked:after {
        content: '\2714';
        font-size: 14px;
        font-family: Montserrat;
        position: absolute;
        top: 0px;
        left: 3px;
        color: #2691C7;
    }

    .cuotaCheckboxOrange{
        -webkit-appearance: none;
        background-color: #fafafa;
        border: 1px solid #cacece;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 9px;
        border-radius: 3px;
        display: inline-block;
        position: relative;
    }
    .cuotaCheckboxOrange:active, .cuotaCheckboxOrange:checked:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }
    
    .cuotaCheckboxOrange:checked {
        background-color: #e9ecee;
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        color: #F88F22;
    }
    .cuotaCheckboxOrange:checked:after {
        content: '\2714';
        font-size: 14px;
        font-family: Montserrat;
        position: absolute;
        top: 0px;
        left: 3px;
        color: #F88F22;
    }
    .container{
        .row{
            .withTable{
                width: 80%;
            }
        }
    }


    @media (max-width: 415px){
        .btnVerCuentacolor{
            font-size: 12px;
        }
        .tblSepulturaPC{
            display: none !important;
        }
        .tblSepulturaMobile{
            display: block !important;
        }
        .tblContratoCuota{
            position: absolute;
            top: 5rem;
            left: 5rem;
        }
        .tblSepulturaMobileCuota{
            width: 7rem !important;
            display: inline !important;
            position: relative;
            top: 1rem;
        }
        .tblSepulturaMobileMonto{
            width: 3rem;
            position: relative;
            top: -1.9rem;
            left: 1rem;
        }
        .tblSepulturaMobileCheck{
            width: 3rem;
            position: relative;
            top: -1.9rem;
            left: 0.1rem;
        }
        tr .MuiTableRow-root{
            height: 15px;
        }
        .modoPC{
            display: inline;
        }
        .container{
            .row{
                .withTable{
                    width: 70%;
                }
            }
        }
        .nroCtaNroBoldMobile{
            margin-left: 1rem;
        }
    }