@import "bootstrap";

.header-sepultados{
    width: 100%;
    height: 218px;
    background-image: url("../../assets/sepultados/imgHeader_Sepultados.jpg") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: -80 !important;
    .container-title{
        @include make-container(28px);
        margin-top: 80px;
        position: absolute;
        h3{
            width: auto;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 24px;
            line-height: 39px;
            color: #FFFFFF;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            text-align: start;
        }
    }
}

.btnUbicacion {
    background: #26519C;
    opacity: 0.75;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    border-radius: 9px !important;
    span{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 13px !important;
        line-height: 32px !important;
        display: flex !important;
        align-items: center;
        text-align: center !important;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #FFFFFF !important;
    }
}

.body-sepultados{
    .disable{
        display: none;
    }
    .btnUbicacionList{
        background: #26519C !important;
        opacity: 0.75;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
        border-radius: 7px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: 0;
    }
    .button-tabs{
        margin-top: -20px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        #button-ubicacion{
            width: 121px;
            //padding: 1px 20px 1px 8px;
            background: rgba(91, 123, 179, 1);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
            border-radius: 7px;
            border: none;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 32px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
        }
        #button-obituario{
            width: 114px;
            margin-left: -6px;
            background: #E6E6E6;
            border-radius: 0px 7px 7px 0px;
            border: none;
            font-family: Montserrat;
            font-weight: 500;
            font-size: 13px;
            line-height: 32px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #575757;
            
        }
    }
    p{
        margin-top: 6px;
        text-align: center;
    }
    .content-tabs{
        display: flex;
        flex-direction: column;
        align-items: center;
        .input-group{
            width: 319px;
            margin-top: 25px;
            .input-group-text{
                background-color: #FFFFFF;
                border: 1px solid #26519C;
                border-right: none;
                border-radius: 7px;
            }
            .form-control{
                padding: 8px;
                border: 1px solid #26519C;
                border-left: none;
                border-radius: 7px;
                color: #26519C;
            }
        }
        .btn{
            margin-top: 12px;
            width: 102px;
            padding: 2px 8px;
            background: #5b7bb3;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
            border-radius: 7px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 32px;
            color: #FFFFFF;
            border:0;
        }
    }
    .table{
        h3{
            margin: 28px 0px 0px 28px;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #575757;
        }
        p{
            margin: 5px 0px 10px 28px;
            padding: 0;
            font-family: Roboto;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: #575757;
        }
        .fallecidos{
            .resuTotal {
                font-family: Roboto;
                font-style: normal;
                font-weight: 100;
                font-size: 14px;
                line-height: 16px;
                display: flex;
                align-items: center;
                color: #575757;
                margin-left: 1rem;
            }
            .list-group{
                padding: 0;
                margin-bottom: 70px;
                .list-header{
                    display: flex;
                    justify-content: space-between;
                    background-color: #575757;
                    height: 44px ;
                    .list-title{
                        display: flex;
                        margin-left: 28px;
                        p{
                            margin: 0;
                            font-family: Montserrat;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                            text-align: center;
                            color: #FFF;
                        }
                        .arrow{
                            // display: block;
                            margin-top: 15px;
                            margin-left: 8px;
                            width: 13px;
                            height: 13px;
                        }
                    }
                    .dropdown{
                        .btn{
                            background: none;
                            border: none;
                            padding-right: 28px;
                        }
                        strong{
                            margin-left: 16px;
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 29px;
                            color: #575757;
                        }
                    }
                }
                .list-group-item{
                    height: 130px;
                    display: flex;
                    justify-content: space-between;
                    padding: 21px 28px;
                    .left{
                        p{
                            margin: 0;
                            font-family: Roboto;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 116.69%;
                            text-align: initial;
                            color: #575757;
                        }
                        #name{
                            font-weight: bold;
                        }
                        #sec{
                            margin-top: 14px;
                        }
                    }
                    .rigth{
                        .btn{
                            width: 106.77px;
                            height: 33px;
                            padding: 0;
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 32px;
                            letter-spacing: 0.5px;
                            color: #FFFFFF;
                            background: #5b7bb3;
                            border-radius: 7px;
                        }
                    }
                }
            }
            .MuiPaper-root{
                display: none;
            }
        }
    }
}

@media (min-width: 768px){
    .header-sepultados{
        height: 321px;
        .container-title{
            @include make-container(128px);
            margin-top: 139px;
            h3{
                width: auto;
                font-size: 36px
            }
        }
    }
    .body-sepultados{
        @include make-container(128px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .button-tabs{
            margin-top: 30px;
        }
        
        .content-tabs{
            align-items: flex-start;
            flex-direction: row;
            .btn{
                margin: 25px 22px;
            }
            input:focus {
                border-color: none;
                box-shadow: none;
                outline: 0 none;
            }
            input::placeholder {
                color: #26519C;
                opacity: 0.5;
            }
        }
        .table{
            h3{
                margin-left: 0;
            }
            .fallecidos{

                .list-group{
                    display: none;
                }
                .MuiPaper-root{
                    display: block;
                    .MuiButtonBase-root.Mui-disabled{
                        display: none;
                    }
                }
            }
            p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                display: flex;
                align-items: center;
                color: #575757;

            }
        }
    }

}
@media (min-width: 1400px){
    .header-sepultados{
        .container-title{
            margin-left: 5rem !important;
        }
    }
    .body-sepultados{
        width: 89.5%;
        margin-left: 5.3rem;
        .table{
            margin-left: 0rem;
        }
    }
}

@media (max-width: 412px){
    .header-sepultados{
        background-size: auto 100%;
        .shadowImg{
            background: transparent;
        }
        .container-title{
            h3{
                text-align: center;
            }
        }
    }
    .body-sepultados{
        p{
            padding: 0px 28px;
        }
        .content-tabs{
            input:focus {
                border-color: none;
                box-shadow: none;
                outline: 0 none;
            }
            input::placeholder {
                color: #26519C;
                opacity: 0.5;
            }
        }
        .btnUbicacionList{
            padding-left: 0.8rem !important;
        }
    }
}



